# Shortcut for Jupyter Notebook

*   To run a cell : **ctrl + Enter**
* For commenting line :  **ctrl + /**
* For uncommenting line : **ctrl + /**
* For commenting and uncommenting multiple line : **ctrl + /**
* Copy : **ctrl + c**
* Paste : **ctrl + v**
* Undo last action (inside a cell) : **ctrl + m + z**
* Find and replace : **ctrl + m + h**
* Insert code cell above : **ctrl + m + a**
* Insert code cell below : **ctrl + m + b**
* Delete cell : **ctrl + m + d**

**If you are using Mac ctrl --> cmd**

# Variable Declaration
* Variable Assignment Rules

* Variable name should start with a letter

* It should contain only alphanumerics

* It should not contain any other symbols except  '_'

* Should not start with a number

* Should not have space in between, use _ instead ex : name_last

* Should not use any of these symbols  " ", < >, \, |, ?, !, @, #, %, $, &, *, ~, +

* Should not Contain predefined keywords (variables) which have special meaning in Python like "list"

* Considered best practice to use lower case names as variable assignment

### **Variable Examples**

In [ ]:
a=10
print (a)

10

In [ ]:
car = 10

In [ ]:
print(car)

10

In [ ]:
car 2s = 20

SyntaxError: ignored

In [ ]:
car$ = 5

SyntaxError: ignored

In [ ]:
new_car = 'cars'
print(new_car)

cars

# Operators

## Arithmetic operators

In [ ]:
# Example:
a = 10
b = 20
a, b

(10, 20)

In [ ]:
# Addition
a + b

30

In [ ]:
# subtraction
a - b

-10

In [ ]:
# Multiplication
a * b

200

In [ ]:
# Division
a/b

0.5

In [ ]:
# Floor divisions
a//b #it rounds the result(quotient) to nearest integer that is less than the result (0 <0.5)

In [ ]:
# Reminders
b%a

In [ ]:
# Exponential
a**b

## Comparision Operator

In [ ]:
# It gives in bool values

a == b, a != b, a > b

In [ ]:
a < b, a >= b, a <= b

## Assignment Operators

In [ ]:
c = a + b
print(c)

c += b  # its nothing but c = c + b
c

30

50

In [ ]:
c -= b
c

30

In [ ]:
c *= b
c

600

In [ ]:
c /= b
c

30.0

In [ ]:
c %= b
c

10.0

In [ ]:
c **= b
c

1e+20

In [ ]:
c //= b
c

5e+18

Assigning multiple values

In [ ]:
a,b,c = 1,2,5     # values will be assinged in sequence order

print(a,b,c)

## Logical Operators

In [ ]:
# Logical And -- All the values should be non zero in order to have non zero output
a = 3; b = 2; c = 0

a and b, b and c

(2, 0)

In [ ]:
# Logical OR -- Any one should be true in order to have non zero output
a = 3; b = 2; c = 0

a or b, b or c

## Identity Operators

In [ ]:
# It check will check that left value is equal to the right value or not

"y" is "Python", 1 is 1, 2 is 1

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-1-a5eb5e738cc5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python", 1 is 1, 2 is 1
<ipython-input-1-a5eb5e738cc5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python", 1 is 1, 2 is 1
<ipython-input-1-a5eb5e738cc5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python", 1 is 1, 2 is 1

(False, True, False)

In [ ]:
"python" is "Python",  1 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-2-331b5626aaca>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "Python",  1 is 0
<ipython-input-2-331b5626aaca>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "Python",  1 is 0

(False, False)

In [ ]:
1 is not 1,  "hi hello"  is not  "hello hi"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-3-dd10370d91ff>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1,  "hi hello"  is not  "hello hi"
<ipython-input-3-dd10370d91ff>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1,  "hi hello"  is not  "hello hi"

(False, True)

In [ ]:
# Complex Number

print(2 + 3j)

type(2 + 3j)

(2+3j)

complex

In [ ]:
# Boolean Type

type(True), type(False)

## Membership Operators

In [ ]:
# It will check that left value is a member of right value or not

"y" in "Python",      "l" in "Python"

In [ ]:
"p" in "Python" ,      "P" not in "python"

For getting list of keywords or special words in Python

*   List item

In [ ]:
import keyword
keyword.kwlist

In [ ]:
print("Hello {0} and {1}".format('foo', 'bin'))

Hello foo and bin

In [ ]:
x = '360DigiTMG'
print(x.find("TMG"))

7

In [ ]:
set(sorted('360DigiTMG'))

{'0', '3', '6', 'D', 'G', 'M', 'T', 'g', 'i'}

In [ ]:
x = {1:10, 2:20, 3:30}
x[2]=25
print(x)

{1: 10, 2: 25, 3: 30}

In [ ]:
help(x.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

## Data types

## Numeric

In [ ]:
# Integer
print(1)

print(2 + 4)  # Addition

print(12 * 3) # Multiplication

In [ ]:
a = 15
type(a)

In [ ]:
print(1 + 4)

In [ ]:
# Float

print(11.5)

x = 55.45

print(x)

type(x)

In [ ]:
# Boolean Type

type(True), type(False)             # True = 1 and False = 0

In [ ]:
True + True

In [ ]:
True + True + False + False

## Non- Numeric

###Strings

In [ ]:
# Accesing Value in Strings
Name = "Aditya"

print(Name[0])

print(Name[3])

print(Name[1:4])

print(Name[-2])

print(Name[-3:-1])

print(Name * 2)    #prints string two times

print(Name + "TEST")   # prints concatenated string

A
t
dit
y
ty
AdityaAditya
AdityaTEST

In [ ]:
a = "hi"
print (a)
print (len(a))

hi
2

In [ ]:
# String Slicing (indexing) --> str[start:stop:step]

Title = "The best Institute"

print(Title[::1])  # no changes

print(Title[::2])  # one index jump

print(Title[::3])   # Two index jump

print(Title[5::3])

The best Institute
Tebs nttt
T sItu
e ste

In [ ]:
# Reversing the string
example = 'Python'

print(example[::-1])

In [ ]:
# Update Strings
var = 'Hello World!  '
print ("Updated String :- ", var + 'Python')
print ("Updated String :- ", var[:6] + 'Python')

Updated String :-  Hello World!  Python
Updated String :-  Hello Python

In [ ]:
string = "This is python"
strlist = list(string)
print(strlist)

format = '%.2f %s is $%d'
format %(6.4560,'Python Prasad',1)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

'6.46 Python Prasad is $1'

In [ ]:
# String Formating
print("My name is %s and weight is %d kgs!" % ('Python Prasad', 65))

My name is Python Prasad and weight is 65 kgs!

In [ ]:
#Ex :1

Name = input("Enter your name: ")
Weight = eval(input("Enter your Weight: "))
print("My name is %s and my Weight is %d" %(Name, Weight))

type(Weight)

Enter your name: "deepthi"
Enter your Weight: 12
My name is "deepthi" and my Weight is 12

int

In [ ]:
#Triple Quotes


Statement = """my name is "Prasad" and my age is "25"."""
type(Statement)

str

In [ ]:
Name = "prasad"
print(type(Name))

# To make first letter capital
print(Name.capitalize())
print(Name.upper())
print(Name.lower())
print(Name.swapcase())

<class 'str'>
Prasad
PRASAD
prasad
PRASAD

In [ ]:
# To make string at center in given spaces
Name.center(50)

'                      Prasad                      '

In [ ]:
# To remove unwanted space
Name = '                      prasad                      '

Name.strip()

'prasad'

In [ ]:
# To remove space from left side
Name = '                      prasad                      '

Name.lstrip()

'prasad                      '

In [ ]:
# To remove space from Right side
Name = '                      prasad                  '

Name.rstrip()

'                      prasad'

In [ ]:
# count() method returns the number of occurrences of the substring in the given string.
string = "prasad is python programmer"
substring = "i"

count = string.count(substring)
count

print("The count is:", count)

The count is: 1

In [ ]:
#Count number of occurrences of a given substring using start and end
# define string
string = "prasad is python programmer"
#substring = "p"

# count 'p' between 8 till 24 character
count = string.count('p', 1, 30)
count
# print count
print("The count is:", count)

The count is: 2

In [ ]:
help(string.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
##Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

Num = 'thishi34'  # No space in this string
print(type(Num))
print(Num.isalnum())

Num = "this is string example hi!!!"
Num.isalnum()

<class 'str'>
True

False

In [ ]:
#This method returns true if all characters in the string are alphabetic and there is at least one character, false otherwise.
Num = "thisis"  # No space & digit in this string
print(Num.isalpha())

Num = "this is string example 0909090!!!"
print(Num.isalpha())

True
False

In [ ]:
#This method returns true if all characters in the string are digits and there is at least one character, false otherwise.

Num = "123456"  # Only digit in this string
print(type(Num))
print(Num.isdigit())

Num = "this is string example!!!"
print(Num.isdigit())

<class 'str'>
True
False

In [ ]:
#his method returns a copy of the string in which all case-based characters have been lowercased.
Num = "THIS IS STRING EXAMPLE!!!"
A = Num.lower()
A

'this is string example!!!'

In [ ]:
#This method returns a copy of the string in which all case-based characters have been Uppercase.
Num = "this is string example!!!"

Num.upper()
dir(Num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#The following example shows the usage of replace() method.

reply = "it is string example!!! is really a string is is is is "
print(reply.replace("is", "was"))
print(reply.replace("is", "was", 5))
print ("  ".join(reply))

it was string example!!! was really a string was was was was
it was string example!!! was really a string was was was is
i  t     i  s     s  t  r  i  n  g     e  x  a  m  p  l  e  !  !  !     i  s     r  e  a  l  l  y     a     s  t  r  i  n  g     i  s     i  s     i  s     i  s

In [ ]:
#The following example shows the usage of split() method.
split1 = "Line1-abcdef \nLine2-abc \nLine3-abcd"
print(split1.split( ))
print(split1.split('  ', 2 ))

['Line1-abcdef', 'Line2-abc', 'Line3-abcd']
['Line1-abcdef \nLine2-abc \nLine3-abcd']

In [ ]:
x = 'X-DSPAM-Confidence:   1.90323453434'
pos = x.find(':')
print(pos)
num = x[pos+4:]
print(num, type(num))

18
1.90323453434 <class 'str'>

# Sequential Data Type

## Lists

In [ ]:
###############################   List   ################################

# A list data type is given in square brackets and each element is separated by comma.

list1 = ['Deepthi', '360DigiTMG', 2017, 2021]
print(list1)
print(len(list1))

['Deepthi', '360DigiTMG', 2017, 2021]
4

In [ ]:
#Access values in the variable using index numbers

print(list1[0])

print(list1[3])

print(list1[:4])

Deepthi
2021
['Deepthi', '360DigiTMG', 2017, 2021]

In [ ]:
# Reversing list

print(list1[::-1])

[2021, 2017, '360DigiTMG', 'Deepthi']

In [ ]:
#functions in list data type

# Append : add  new element to the existing list

aList = [123, 'xyz', 'zara', 'abc']

aList.append(2009)

print(aList)

aList.remove(2009)
print(aList)

[123, 'xyz', 'zara', 'abc', 2009]
[123, 'xyz', 'zara', 'abc']

In [ ]:
#Pop : remove the elment from existing list

print(aList.pop())
print(aList)

abc
[123, 'xyz', 'zara']

In [ ]:
# pop the element using index number

print(aList.pop(0))
print(aList)

123
['xyz', 'zara']

In [ ]:
#Insert: insert a value using index number
aList = [123, 'xyz', 'tommy', 'abc', 123]

aList.insert(3, 2009)

print(aList)

[123, 'xyz', 'tommy', 2009, 'abc', 123]

In [ ]:
#Extend: extend the two list one after another
aList = [123, 'xyz', 'tommy', 'abc', 123]

bList = [2009, 'beneli']

print(aList * 2)

print(aList + bList)

aList.extend(bList)

bList.extend(aList)

aList, bList

[123, 'xyz', 'tommy', 'abc', 123, 123, 'xyz', 'tommy', 'abc', 123]
[123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli']

([123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'],
 [2009, 'beneli', 123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'])

In [ ]:
alist= [1,2,3]
blist=[11,12,13]
alist.extend(blist)

In [ ]:
alist

[1, 2, 3, 11, 12, 13]

In [ ]:
alist.append(blist)
alist

[1, 2, 3, 11, 12, 13, [11, 12, 13]]

In [ ]:
#Reverse: to reverse the given list
aList = [123, 'xyz', 'tommy', 'abc', 342]

print(aList)

aList.reverse()

print("*************")
print(aList)

[123, 'xyz', 'tommy', 'abc', 342]
*************
[342, 'abc', 'tommy', 'xyz', 123]

In [ ]:
#Sort: sort the given list from ascending or descending

blist = [8,99,45,33]

blist.sort(reverse = True)

print(blist)

[99, 45, 33, 8]

In [ ]:
# Another way to sort list

blist = [8,99,45,33]

sorted_list = sorted(blist)

print(sorted_list)

[8, 33, 45, 99]

In [ ]:
#count: count the value in given list of elements

aList = [123, 'xyz', 'zara', 'abc', 123, "zara"]

print(aList.count("zara"))

2

In [ ]:
# find value from list

print(aList.index("zara"))

2

In [ ]:
# concatenate two list
new_list = aList + blist

print(new_list)

[123, 'xyz', 'zara', 'abc', 123, 'zara', 8, 99, 45, 33]

In [ ]:
type(aList)

list

In [ ]:
# To get detailed info about list

help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
#Sorting
numberlist = [1, 5, 23, 1 ,54, 2, 54, 23, 54, 76, 76, 34, 87]
numberlist.sort()
print(numberlist)
print(len(numberlist))
print(max(numberlist))
print(min(numberlist))

[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
13
87
1

In [ ]:
string = ['abcd', 'efg', 'hijk', 'lmn']
print(sorted(string, key=len))

['efg', 'lmn', 'abcd', 'hijk']

In [ ]:
#You can even pass your own function
string = ['abcg', 'eff', 'hijd', 'lmi']

def func1(l):
    return l[-1]

print(sorted(string, key=func1))

['hijd', 'eff', 'abcg', 'lmi']

## Tuples

In [ ]:
##################################### Tuples ####################################
# immutability

## Create a tuple dataset
tup1 = ('Street triple','Detona','Beneli', 8055)

tup2 = (1, 2, 3, 4, 5 )

print(tup1)
print(tup2)

('Street triple', 'Detona', 'Beneli', 8055)
(1, 2, 3, 4, 5)

In [ ]:
### Create a empty tuple

tup1 = ()

print(tup1)

()

In [ ]:
#Create a single tuple

tup1 = (50,)

tup1

(50,)

In [ ]:
type(tup1)

tuple

In [ ]:
#Accessing Values in Tuples

tup1 = ('Street triple','Detona','Beneli', 8055)

print(tup1[0])

tup2 = (1, 2, 3, 4, 5, 6, 7 )

print(tup2[1:5])

Street triple
(2, 3, 4, 5)

In [ ]:
# Updating Tuples

tup1 = (12, 34.56)

tup2 = ('abc', 'xyz')

In [ ]:
# So, create a new tuple as follows

tup1 = tup1 + tup2

print(tup1)

(12, 34.56, 'abc', 'xyz')

In [ ]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)

print(tup)

('Street triple', 'Detona', 'Beneli', 8055)

In [ ]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)

del(tup[1]) # We cannot delete individual items of tuple as it is immutable.

print(tup)

TypeError: ignored

In [ ]:
# To delete the given tuple
del(tup)
print(tup)

In [ ]:
# To get detailed info about tuple

help(tuple)

#Continued Sequential Data Type

## Sets

In [ ]:
# Sets and Frozen Sets
# A normal Set
normal_set = set(["a", "b", "c"])

print("Normal Set")
print(normal_set)

Normal Set
{'b', 'a', 'c'}

In [ ]:
# Adding new value

normal_set.add("d")

print(normal_set)

{'b', 'a', 'c', 'd'}

In [ ]:
# A frozen set

frozen_set = frozenset(["e", "f", "g"])

print("Frozen Set")
print(frozen_set)

Frozen Set
frozenset({'f', 'g', 'e'})

In [ ]:
# adding a member to set in frozen set and should throw an error

frozen_set.add("h")

AttributeError: ignored

In [ ]:
x = 3
if x < 5:
    print(x)
print(5)

3
5

In [ ]:
x = 2
y = 25
print(x)
if x < 10:
    print(x)
print(y)

2
2
25

In [ ]:
a = 23
if a >= 22:
   print("if")

if

In [ ]:
a = 20
if a >= 22:
   print("if")
   print("one more statement")
elif a >= 21:
   print("elif")
else:
   print("else")

else

In [ ]:
# Set Operations

# Let us create sets
set1 = set() # Null Set
set2 = set() # Null Set
print(set1,set2)

# Adding elements to set1
for i in range(1, 10):
    set1.add(i)

set1

set() set()

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Adding elements to set2

for i in range(3, 10):
    set2.add(i)
set2

{3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Union of set1 and set2
# Union shows all the values in set1 and set2

set3 = set1 | set2 # set1.union(set2)

print("Union of Set1 & Set2: Set3 = ", set3)

Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Intersection of set1 and set2
# Intersection shows common values in set1 and set2

set4 = set1 & set2 # set1.intersection(set2)

print("Intersection of Set1 & Set2: Set4 = ", set4)

Intersection of Set1 & Set2: Set4 =  {3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Lets us check is there is any relationship between set3 and set4
# Checking relation between set3 and set4

if set3 > set4: # set3.issuperset(set4)
    print("Set3 is superset of Set4")
elif set3 < set4: # set3.issubset(set4)
    print("Set3 is subset of Set4")
else : # set3 == set4
    print("Set3 is same as Set4")

Set3 is superset of Set4

In [ ]:
# displaying relation between set4 and set3
if set4 < set3: # set4.issubset(set3)
    print("\n")
    print("Set4 is subset of Set3")
    print("\n")

Set4 is subset of Set3

In [ ]:
# difference between set3 and set4
set5 = set3 - set4
print("Elements in Set3 and not in Set4: Set5 = ", set5)
print("\n")

Elements in Set3 and not in Set4: Set5 =  {1, 2}

In [ ]:
# checkv if set4 and set5 are disjoint sets
if set4.isdisjoint(set5):
    print("Set4 and Set5 have nothing in common\n")

Set4 and Set5 have nothing in common

In [ ]:
# Removing all the values of set5
set5.clear()

print("After applying clear on sets Set5: ")
print("Set5 = ", set5)

After applying clear on sets Set5:
Set5 =  set()

In [ ]:
# To get detailed info about set

help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Dictionary

In [ ]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}
print(dict1)
print(dict1['Name'])
print(dict1['Age'])

In [ ]:
##Updating Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# update existing entry
dict1['Age'] = 27
# Add new entry
dict1

In [ ]:
dict1['School'] = "DPS School"
dict1['sal'] = 50000

dict1

In [ ]:
#Delete Dictionary Elements
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# remove entry with key 'Name'
del(dict1['Name'])
dict1

In [ ]:
# remove all entries in given dictionary
dict1.clear()
dict1

In [ ]:
# delete entire dictionary
del(dict1)
dict1

In [ ]:
# To get all the items from your dictonary

dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

dict1.items()  # type --> dict_items or list of tuples

In [ ]:
# To get all the keys from your dictonary

dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

dict1.keys()   # type --> dict_keys or list

In [ ]:
# To get all the values from your dictonary

dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

dict1.values()   # type --> dict_values or list

In [ ]:
# To check type

xy = dict1.items()
type(xy)

In [ ]:
# To get detailed info about dictonary

help(dict)

# Conditional Statements

In [ ]:
# ################################## Conditional Statement ##############################################

# Example:1 - simple if and else conditions when you have two conditions

is_male = False

if is_male:
    print("you are male")
else:
    print("you are female")

you are female

In [ ]:
# Example: 2 - if you have more than two conditions use elif
is_male = True
is_tall = True

if is_male and is_tall:              ## and & not operator
    print("you are tall male")
elif is_male and not(is_tall):
    print("you are short male")
elif not(is_male) and is_tall:
    print("you are not male but tall")
else:
    print("you are not male and not tall")

In [ ]:
#Example:  3 - conditional inside a conditional
### Nested if Statement

score = 500
money = 6000
age = 65

if score > 100:
    print("You got good points")
    if money >= 5000:
        print("you win")
        if age >= 30:
            print("You win in middle age")
        else:
            print("You are win in young age")
    else:
        print("you have high points but you do not have enough money")
else:
    print("you are loser")

In [ ]:
#Testing for an element in list
list = ['Ajay', 'Ramesh']
if 'Vijay' in list:
    print('Found Vijay')

## Practice Question
Create a program of calculator which takes three input and perform mathematical operations

In [ ]:
num_1 = eval(input("Enter first number : "))
operator = input("Enter operator (+,-,/,*,//,%) : ")
num_2 = eval(input("Enter Second number : "))

if operator == '+':
  print(f'addition of {num_1} and {num_2} is {num_1 + num_2}')
elif operator == '-':
  print(f'substrction of {num_1} and {num_2} is {num_1 - num_2}')
elif operator == '*':
  print(f'multiplication of {num_1} and {num_2} is {num_1 * num_2}')
elif operator == '/':
  print(f'division of {num_1} and {num_2} is {num_1 / num_2}')
elif operator == '%':
  print(f'Remainder of {num_1} and {num_2} is {num_1 % num_2}')
elif operator == '//':
  print(f'Floor division of {num_1} and {num_2} is {num_1 // num_2}')
else:
  print("something is worng")

Enter first number : 2
Enter operator (+,-,/,*,//,%) : *
Enter Second number : 3
multiplication of 2 and 3 is 6

In [ ]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1
print("End of while loop!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
End of while loop!

# **Loops in Python**

**Why Loops ?**

We use loops because if we need to repeat some set of instruction multiple times then we need to write it again and again, so with the help of loop we can perform those operation in few line and with easy process. Let's go through example, if you have to print "hello world" 1000 times then for it you need to write print statement 1000 time but using loops you can easily do it in few lines.

**Loops :** Loops in programming language means repeating a set of instructions until a specific condition is fulfilled.

**Types of loops in Python ?**


1.   For Loop  : Repeat the set of instructions until condition is false. It checks condition before excuting the body part of loop
2.   While Loop : Execute set of instructions and the code that manage the loop
3.   Nested loop : Here you can use loop inside the 'for' loops or 'while' loops

**How to control loops ? or control statement in Python ?**


*   Continue statement : Continue specific part of loop till the condition is true and leave remaining part of the loop
*   Break statement : Break the loop and get out of loop when condition is met
*   Pass Statement : When we don't want to run the condition or do not want to put anything, we use pass statement

# For loop
To use 'for' loop we use **for** keyword with a variable and range, or pre-defined data types (i.e. set, tuple, list, dict, string). This loop ends with a colon.

Next line always start with indentation (four space)

To get out of the loop don't use indentation

Examples are here:

In [ ]:
# for Loop

#Example for 'for loop'

#Example : 1

snacks = ['pizza','burger','shawarma','franky']

for i in snacks:
    print("current snack: ", i)
print("Good day!")

current snack:  pizza
current snack:  burger
current snack:  shawarma
current snack:  franky
Good day!

In [ ]:
range(0, 5) # range function but it will not return values

range(0, 5)

In [ ]:
tuple(range(0, 15))   # now you will get range values into list

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [ ]:
range(1, 5, 1)

In [ ]:
for i in range(1, 6, 2):
    print(i)
#else:
#   print "The for loop is over"

1
3
5

In [ ]:
for i in range(1, 15):
  print("20 hours class of Day ", i)

20 hours class of Day  1
20 hours class of Day  2
20 hours class of Day  3
20 hours class of Day  4
20 hours class of Day  5
20 hours class of Day  6
20 hours class of Day  7
20 hours class of Day  8
20 hours class of Day  9
20 hours class of Day  10
20 hours class of Day  11
20 hours class of Day  12
20 hours class of Day  13
20 hours class of Day  14

In [ ]:
# Getting even number without any condition

for i in range(0, 15, 2):
  print('Number is even', i)

Number is even 0
Number is even 2
Number is even 4
Number is even 6
Number is even 8
Number is even 10
Number is even 12
Number is even 14

In [ ]:
#Traversing a list
#What is the output?
numbers = [2, 3, 5]
sum = 0
for num in numbers:
    sum += num  #sum = sum+num
print(sum)

10

In [ ]:
numbers = [2, 3, 5]
sum = [i + 2 for i in numbers]
print(sum)

[4, 5, 7]

In [ ]:
numbers = [2, 3, 5]
getnum = [i + 2 for i in numbers if i < 5]
print(getnum)

[4, 5]

In [ ]:
#Example: 2
num = int(input("number: "))
factorial = 1

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("factorial =  ", factorial)

number: 5
factorial =   120

## Pass

In [ ]:
names = ["Rishu",'Aayush','Ram','Shubh']

for i in names:
    pass

## Continue
skip when condition satisfied

In [ ]:
names = ["Rishu",'Aayush','Ram','Shubh']

for i in names:
  if len(i) == 5:
    continue
  print(f'My name is {i}')

My name is Aayush
My name is Ram

## Break
Get out of loop when condition satisfied

In [ ]:
names = ["Rishu",'Aayush','Ram','Shubh']

for i in names:
  if len(i) == 3:
    break
  print(f'My name is {i}')

My name is Rishu
My name is Aayush

In [ ]:
for i in range(1, 10):
       if i == 5:
           break
       print(i)
print('Done')

1
2
3
4
Done

## For-else
### If the else statement is used with a for loop, the else block is executed only if for loops terminates normally (and not by encountering break statement)

In [ ]:
#example
numbers = [11, 33, 55, 39, 55, 78, 37, 21, 23, 41, 13]

for num in numbers:
   if num % 2 == 0:
      print ('the list contains an even number')
      break
else:
  print ('the list does not contain even number')

the list contains an even number

In [ ]:
names = ["Rishu",'Aayush','Ram','Shubh']
list(enumerate(names))

[(0, 'Rishu'), (1, 'Aayush'), (2, 'Ram'), (3, 'Shubh')]

In [ ]:
names = ["Rishu",'Aayush','Shubh','Ram']

for i, j in enumerate(names):
  print('index is {0} and value of index is {1}'.format(i, j))

index is 0 and value of index is Rishu
index is 1 and value of index is Aayush
index is 2 and value of index is Shubh
index is 3 and value of index is Ram

# While loop
While loop simple use as if-else condition for it we use keyword **while** with the condition and end line with a colon

Next line same as for loop use indentation your instruction

But here you need to also specify abbreviation which will be going to make false the while condition otherwise while loop will not going to stop ever

Abbreviation line is most important you can't skip it

In [ ]:
i = 0
while i < 10:
  print('Number is ', i)
  i = i + 1

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9

In [ ]:
i = 0
while i < 10:
  pass
  i = i + 1

In [ ]:
i = 0
while i < 10:
  i = i + 1
  if i == 5:
    continue
  print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10

In [ ]:
i = 0
while i < 10:
  i = i + 1
  if i == 5:
    break
  print('Number is ', i)

Number is  1
Number is  2
Number is  3
Number is  4

In [ ]:
i = 0
while i < 10:
  print('Number is ', i)
  i = i + 1
else:
  print('Loop has ended')

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9
Loop has ended

# Nested loop
Here we can use loop inside a loop one or more then one times

we perform it as same other we do but before ending of first of loop we will initiate another loop

Here below are some fellowing code for your understanding

In [ ]:
list1 = [[1,2,3,4],[2,3,3,5]]
print(list1)

for i in list1 :
    for j in i :
        print(f'Square of {j} is', j ** 2)
    print("\n")

[[1, 2, 3, 4], [2, 3, 3, 5]]
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16


Square of 2 is 4
Square of 3 is 9
Square of 3 is 9
Square of 5 is 25

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#Example for 'While loop'

import random

n = 20

random_number = int(n * random.random())

guess = 0

while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

Best Example for nested loop

In [ ]:
# Print triangle shaped star

n = 6  # number of star
k = n + 1   # spaces
for i in range(0, n) :
    for j in range(0, k) :
        print(" ", end = "")
    k = k - 1                  # Reducing spaces after each loop
    for j in range (0, i + 1) :      # taking new loop for printing *
        print("* ", end = "")
    print("\r")         # After complition of * printing starting again from new line

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

Control statement will work same as work in for and while

# ***It's all about loops in Python***

# Functions

In [ ]:
############################### define function ##################################################

#Example for advantage of functions

#Imagine there are 1000 of code is created based on requirement without using functions
#If same requirement is repeated in the same code as given below with reference of line numbers

print("Hello Function.nikhil?") #10
print("Hello Function.nikhil?") #14
print("Hello Function.nikhil?") #40
print("Hello Function.nikhil?") #67

In [ ]:
def sayHello():
    print('Hello World!') # block belonging to the function
# End of function #

sayHello()

In [ ]:
# not defined any value but just defined function
def hello_func():
    pass

In [ ]:
#simple function
def hello(name, age, sal):
    print("hi", name, "your age:", age, "your salary:", sal)

hello("Nikhil", 25, 50000)

In [ ]:
# formal and actual arguments #

# function defination #
def add(a, b):
    return a + b
# funtion call#
add(2, 3)
# Formal arguments are identifiers used in the function definition to represent corresponding actual arguments.
# Actual arguments are values(or variables)/expressions that are used inside the parentheses of a function call.

In [ ]:
# positional arguments #

def rectangleArea(width, height):
    return width * height

print(rectangleArea(width = 1, height = 2))

#A positional argument is a name that is not followed by an equal sign (=) and default value.

In [ ]:
def printMax(a, b):
   if a > b:
       print(a, 'is maximum')
   elif a == b:
       print(a, 'is equal to', b)
   else:
       print(b, 'is maximum')

printMax(3, 4)

In [ ]:
def say(message, times = 1):
   print(message * times)

say('Hello')
say('World ', 5)

In [ ]:
def func(a, b = 5, c = 10):
   print('a is', a, 'and b is', b, 'and c is', c)
func(3, 7)
func(25, c = 24)
func(c = 50, a = 100)

a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50

In [ ]:
x = 50
def func(x):
   print('x is', x)
   x = 2
   print('Changed local x to', x)
print('x is still', x)

x is still 50

In [ ]:
func(20)

x is 20
Changed local x to 2

In [ ]:
def total(initial = 5, *numbers, **keywords):
   count = initial
   for number in numbers:
       count += number
   for k in keywords:
       count += keywords[k]
   return count
print(total(10, 1, 2, 3, vegetables=500, fruits=100))

616

# Continued functions

In [ ]:
x = 50
def func(x):
   print('x is', x)
   x = 2
   print('Changed local x to', x)
func(x)
print('x is still', x)

In [ ]:
# variable arguments
# *args for variable number of arguments
def myFun(*v):
    for i in v :
        print(i)

myFun('Hello', 'Welcome', 'to', '360digitmg')


#First argument through *argv : Hello
#Next argument through *argv : Welcome
#Next argument through *argv : to
#Next argument through *argv : 360digitmg

Hello
Welcome
to
360digitmg

In [ ]:
#Using **kwargs to pass the variable keyword arguments to the function
# in this function kwargs=data
def intro(**data):
    print("\nData type of argument:", type(data))

    for key, value in data.items():
        print("{} is {}".format(key, value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [ ]:
def total(initial, *numbers, **keywords):
   count = initial
   for number in numbers:
       count += number
   for key in keywords:
       count += keywords[key]
   return count
print(total(10, 1, 2, 3, vegetables=50, fruits=100))

166

## Function call stack
### locals(), globals()

In [ ]:
x = 5  #global
def new():
  print('number is', x)

new()
print(x)

number is 5
5

In [ ]:
x = 5# global
def new():
  x = 6  #local
  print('number is', x)

new()
print(x)

number is 6
5

In [ ]:
age = 23 #Age Global variable
name = "Somesh" # Name Global Variable
places = ["Nagpur", "Mumbai", "Pune"] #Places Global Variable

def local(): #Function declaration
    age = 1 #Age Local Variable
    name = 'Aayush' # Name Local Variable
    print("%s is %i years old and lives in %s." % (name, age, places[0])) #Function Definition for Local Variable
    #In the above line of code name and age variables are Local and place is Global Variable
    return

local() #Function calls Local() Variables
print("##############")

print("%s is %i years old and lives in %s." % (name, age, places[2])) #Calling Definition for Global Variable
#In the above line of code name, age and place are Global Variables

Aayush is 1 years old and lives in Nagpur.
##############
Somesh is 23 years old and lives in Pune.

## Declaring global variable within function

In [ ]:
x = 5
def new():
  global x
  x = 10   #global
  print('number is', x)

new()
print(x)

number is 10
10

## Recursion

Without recursion declaring function of factorial

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  else:
    fact = 1
    for i in range(1, N + 1):
      fact *= i
    print(f'Factorial of {N}! is {fact}')

fact(5)

Factorial of 5! is 120

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  elif N == 1:
    return 1
  else:
    return (N * fact(N-1))

fact(5)

120

# List Comprehensions

In [ ]:
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]

In [ ]:
list2=["h", "i","j"

]

In [ ]:
list1.extend(list2)

In [ ]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n', 'h', 'i', 'j']

In [ ]:
list1[2]

['c', ['d', 'e', ['f', 'g'], 'k'], 'l']

In [ ]:
list1[2][1]

['d', 'e', ['f', 'g'], 'k']

In [ ]:
list1[2][1][2]

['f', 'g']

In [ ]:
list1[2][1][2].extend(list2)

In [ ]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# make a tuple  out of a list
month= [ 'jan', 'feb', 'mar', "apr"]

In [ ]:
month= [ 'jan', 'feb', 'mar', "apr"]

In [ ]:
new= tuple(month)

In [ ]:
new

('jan', 'feb', 'mar', 'apr')

In [ ]:
# weekoffs= [ "sun","MOn","Tues,"wed"]
#the output should be only Mon and tues use indexing

In [ ]:
weekoffs= ["sun","MOn","Tues","wed"]

In [ ]:
weekoffs[-3:-2]

['MOn']

In [ ]:
# i have a string
input_string ="Deepthi"
vowels= [ 'a', 'e','i', 'o','u'] # remove the vowels
result= input_string

In [ ]:
for x in input_string.lower():
  if x in vowels:
    result = result.replace(x," ")
print( result )

Dpth

In [ ]:
# randomise the items in a list
x=['keep', 'the', 'Blue','flag','flying ','high']
from random import shuffle
shuffle(x)

In [ ]:
x

['high', 'keep', 'flag', 'the', 'Blue', 'flying ']

In [ ]:
new = set(x)

In [ ]:
new

{'Blue', 'flag', 'flying ', 'high', 'keep', 'the'}

In [ ]:
lst = "DeEpthi"
newlst = []
for i in lst:
    if i in ['a', 'e', 'i', 'o', 'u']:
        newlst.append(i)
print(newlst)

['e', 'i']

In [ ]:
lst = "DeEpthi"

In [ ]:
# List Comprehensions and Readability

# Build a list of Unicode codepoints from a string in ordinary way
symbols = '$'
codes = []
for symbol in symbols:
     codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

In [ ]:
# Alternative way to perform the above Unicode using List comprehension
symbols = '$'
codes = [ord(i) for i in symbols]
codes

[36, 162, 163, 165, 8364]

In [ ]:
fruits= [ "apple","banana","orange"]
newlist=[]
for x in fruits:
  if "a" in x :
    newlist.append(x)
newlist

['apple', 'banana', 'orange']

In [ ]:
newlist= [x for x in fruits if "a" in x]
newlist

['apple', 'banana', 'orange']

In [ ]:
newlist= [x for x in fruits if x!= "apple"]
newlist

['banana', 'orange']

In [ ]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x<5]
newlist

[0, 1, 2, 3, 4]

In [ ]:
new_list = [i for i in range(12) if i % 2 == 1]
print(new_list)

[1, 3, 5, 7, 9, 11]

In [ ]:
newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'ORANGE']

In [ ]:
newlist = [ x if  x!= "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'orange']

## Dictionary Comprehension

In [ ]:
##Let's see how the same probem can be solved using a for loop and dictionary comprehension
##We want to create a new dictionary where the key is a number divisible by 2 in a range of 0-10 and it's value is the square of the number.
numbers = range(10)
print(numbers)
new_dict_for = {}

# Add values to `new_dict` using for loop
for n in numbers:
    if n % 2 == 0:
        new_dict_for[n] = n ** 2

print(new_dict_for)

range(0, 10)
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
# Use dictionary comprehension
new_dict_comp = {n: n**2 }for n in numbers if n % 2 == 0

print(new_dict_comp)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
##Another example

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

dict1_keys = {k*2 : v*2 for (k,v) in dict1.items()}
print(dict1_keys)

{'aa': 2, 'bb': 4, 'cc': 6, 'dd': 8, 'ee': 10}

## Zip and Unzip

In [ ]:
##Python code to demonstrate the working of  zip()
# initializing lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]

# using zip() to map values
mapped = zip(name, roll_no, marks)

In [ ]:
set(mapped)

{('Astha', 2, 70), ('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60)}

In [ ]:
##Python code to demonstrate the working of  zip()
# initializing lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]

# using zip() to map values
mapped = zip(name, roll_no, marks)

# converting values to print as set
mapped = set(mapped)

# printing resultant values
print("The zipped result is : ")
print(mapped)

The zipped result is :
{('Shambhavi', 3, 60), ('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Astha', 2, 70)}

In [ ]:
# unzipping values
namz, roll_noz, marksz = zip(*mapped)

print("The unzipped result: \n", end = "")
print("The name list is : ", end = "")
print(namz)
print("The roll_no list is : ", end = "")
print(roll_noz)
print("The marks list is : ", end = "")
print(marksz)

The unzipped result:
The name list is : ('Shambhavi', 'Manjeet', 'Nikhil', 'Astha')
The roll_no list is : (3, 4, 1, 2)
The marks list is : (60, 40, 50, 70)

# Built-in Sort Functions

In [ ]:
animals = ['dog', 'cat', 'sheep', 'goat', 'elephant']
# Ascending order with alphabet
sorted(animals)

['cat', 'dog', 'elephant', 'goat', 'sheep']

In [ ]:
# Descending order with alphabet
sorted(animals, reverse = True)

['sheep', 'goat', 'elephant', 'dog', 'cat']

In [ ]:
# Ascending order with respect to length of the character
sorted(animals, key = len, reverse = True)

['elephant', 'sheep', 'goat', 'dog', 'cat']

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
# Descending order with respect to length of the character
sorted(animals, key = len)

['dog', 'cat', 'goat', 'sheep', 'elephant']

In [ ]:
# Built-in function for sort
animals.sort()
animals

['cat', 'dog', 'elephant', 'goat', 'sheep']

# Augmented Assignments with Sequences

In [ ]:
# Augumented assignment operators with *=
# id of lists
l = [1, 2, 3]
print(id(l), l)
# ID of list will not change just append the values to the same ID
l *= 2 # Eql to L*2
print(id(l), l)

140321057754720 [1, 2, 3]
140321057754720 [1, 2, 3, 1, 2, 3]

In [ ]:
# Augumented assignment operators with *=
t = (1, 2, 3)
print(id(t), t)
# ID of the tuple will change instead of appending the values to the same ID
t *= 2
print(id(t), t)

140321057764128 (1, 2, 3)
140321127997232 (1, 2, 3, 1, 2, 3)

# Handling Missing Keys

In [ ]:
# Initializing Dictionary
d = { 'a' : 1 , 'b' : 2 }

# trying to output value of absent key
print("The value associated with 'c' is : ")
print(d['c'])

The value associated with 'c' is :

KeyError: ignored

In [ ]:
# We need to handle these kind of errors
# importing "collections" for default dict
import collections as cl

# declaring defaultdict
# sets default value 'Key Not found' to absent keys
defd = cl.defaultdict(lambda : 'Key Not available')
# initializing values
defd['a'] = 1

# initializing values
defd['b'] = 2

# printing value
print("The value of 'a' is : ", end = "")
print(defd['a'])

# printing value associated with 'c'
print("The value of 'c' is : ", end = "")
print(defd['c'])

The value of 'a' is : 1
The value of 'c' is : Key Not available

# Lambda Functions

In [ ]:
x= lambda a: a+10
x(5)

15

In [ ]:
# Defining the lambda function
s = lambda x: x**3
s(12)

1728

In [ ]:
greet = lambda : print("hello")
greet()

hello

In [ ]:
x= lambda a,b,c:a+b+c
print(x(5,6,2))

13

## map ( )
filter (function,  iterable)

In [ ]:
def myfunc(a,b):
  return a+b

x= map(myfunc,('apple','banana', 'orange'),('cherry','grapes', "pines"))
x
list(x)

['applecherry', 'bananagrapes', 'orangepines']

In [ ]:
#map()

val = [1, 2, 3, 4, 5, 6]

list(map(lambda x: x * 2, val))

[2, 4, 6, 8, 10, 12]

In [ ]:
list(map(str, val))

['1', '2', '3', '4', '5', '6']

In [ ]:
def myfunc(a):
  if a%2==0:
    return a**2
  else:
    return a
x = map(myfunc,[1,2,3,4,5,6,7,8,9,10])
list(x)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

## Filter ( )
filter (function return true false,  iterable)

In [ ]:
age= [ 12,16, 25,18,24]
def myfunc(x):
  if x<18:
    return False
  else:
    return True

In [ ]:
a= filter(myfunc,age)
#list(a)
for x in a :
  print(x)

25
18
24

In [ ]:
#filter() -- used to check the condition

val1 = [1, 2, 3, 4, 5, 6]

list(filter(lambda x: x % 2, val1))

[1, 3, 5]

In [ ]:
list(filter(lambda x: x > 50, list(range(1,100))))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

## reduce ( )

In [ ]:
from functools import reduce

val = [1, 2, 3, 4, 5, 6]

reduce(lambda x, y: x * y, val)     # 1 * 2 * 3 * 4 * 5 * 6

720

In [ ]:
reduce(lambda x , y: x + y, list(range(1,100)))   # 1 + 2 + 3 + 4 + 5 ........

4950

In [ ]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

## Loop vs Comprehension vs Map

In [ ]:
list1 = [1, 2, 3, 4, 5]
squares1 = []

#Loop
for i in list1:
    squares1.append(i ** 2)

#Comprehension
squares2 = [i ** 2 for i in list1]

#map
squares3 = list(map(lambda x : x ** 2, list1))

squares1, squares2, squares3

([1, 4, 9, 16, 25], [1, 4, 9, 16, 25], [1, 4, 9, 16, 25])

## Iterators
Iterator is an object which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation.

In [ ]:
names = ["Rishu",'Aayush','Shubh','Ram']
names   # iterable

['Rishu', 'Aayush', 'Shubh', 'Ram']

In [ ]:
new_list = names.__iter__()   # Converting into iterator
print(new_list)

<list_iterator object at 0x7f6c33310710>

In [ ]:
help(new_list)

Help on list_iterator object:

class list_iterator(object)
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __length_hint__(...)
 |      Private method returning an estimate of len(list(it)).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.

In [ ]:
for obj in new_list:
  print(obj)

Rishu
Aayush
Shubh
Ram

In [ ]:
new_list = iter(names)    # Another way to converting into iterator
print(next(new_list))
print(next(new_list))
print(next(new_list))

Rishu
Aayush
Shubh

In [ ]:
print(next(new_list))

Ram

In [ ]:
for obj in names:
  print(obj)

Rishu
Aayush
Shubh
Ram

Why use iterator ?

If both iterator and iterable work the same way

An **iterable** is an object that has an __iter__ method which returns an iterator, or which defines a __getitem__ method that can take sequential indexes starting from zero. So an iterable is an object that you can get an iterator.

An **iterator** is an object with a next (Python 2) or __next__ (Python 3) method.

Whenever you use a for loop, or map, or a list comprehension, etc. in Python, the next method is called automatically to get each item from the iterator, thus going through the process of iteration.

In [ ]:
names = [i for i in range(1000000)]
new_list = iter(names)

In [ ]:
import sys
print(f'size of variable names is {sys.getsizeof(names)} bytes')
print(f'size of variable new_list is {sys.getsizeof(new_list)} bytes')

size of variable names is 8697472 bytes
size of variable new_list is 64 bytes

In [ ]:
iterable_value = 'Machine Learning'
iterable_obj = iter(iterable_value)

while True:
    try:
        # Iterate by calling next
        item = next(iterable_obj)
        print(item)
    except StopIteration:
        # exception will happen when iteration will over
        break

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

## Generator
A generator is a function that produces or yields a sequence of values using yield method.

When a generator function is called, it returns a generator object without even beginning execution of the function. When the next() method is called for the first time, the function starts executing until it reaches the yield statement, which returns the yielded value. The yield keeps track i.e. remembers the last execution and the second next() call continues from previous value.

In [ ]:
# Simple function
def squence(N):
  x = []
  for i in range(N):
    x.append(i)
  return x

In [ ]:
alist = squence(10000)

In [ ]:
print(alist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626, 2627, 2628, 2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660, 2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764, 2765, 2766, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863, 2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885, 2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895, 2896, 2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198, 3199, 3200, 3201, 3202, 3203, 3204, 3205, 3206, 3207, 3208, 3209, 3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230, 3231, 3232, 3233, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3241, 3242, 3243, 3244, 3245, 3246, 3247, 3248, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, 3270, 3271, 3272, 3273, 3274, 3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294, 3295, 3296, 3297, 3298, 3299, 3300, 3301, 3302, 3303, 3304, 3305, 3306, 3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3327, 3328, 3329, 3330, 3331, 3332, 3333, 3334, 3335, 3336, 3337, 3338, 3339, 3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 3427, 3428, 3429, 3430, 3431, 3432, 3433, 3434, 3435, 3436, 3437, 3438, 3439, 3440, 3441, 3442, 3443, 3444, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465, 3466, 3467, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478, 3479, 3480, 3481, 3482, 3483, 3484, 3485, 3486, 3487, 3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503, 3504, 3505, 3506, 3507, 3508, 3509, 3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3

In [ ]:
def squence(N):
  for i in range(N):
    yield i

In [ ]:
blist = squence(100000)
print(blist)

<generator object squence at 0x7f6c33308f50>

In [ ]:
print(f'size of variable new_list is',sys.getsizeof(alist),'bytes')
print(f'size of variable new_list is',sys.getsizeof(blist),'bytes')

size of variable new_list is 87632 bytes
size of variable new_list is 128 bytes

In [ ]:
# A simple generator for Fibonacci Numbers
def fib(limit):

    # Initialize first two Fibonacci Numbers
    a, b = 0, 1

    # One by one yield next Fibonacci Number
    while a < limit:
        yield a
        a, b = b, a + b

# Create a generator object
x = fib(5)

# Iterating over the generator object using next
while True:
   try:
      print (next(x), end="\n")
   except StopIteration:
      break

0
1
1
2
3

# File Handling

In [ ]:
# file handling #
# the open function takes two parameters filename and model #

# there are 4 different methods for opening a file #
# "r" - reads a default value
# "a" - opens the file for append  and creates a file if it doesnot exist
#"w"-write- opens a file for writing
#"x"- creates a file

# syntax #
# to open a file or read a file

f = open("/content/demo.txt")
f

FileNotFoundError: ignored

In [ ]:
# another way to open file
with open("/content/demo1.txt") as file:
  xy  = file.read()

In [ ]:
xy

In [ ]:
f = open("/content/demo1.txt")
f.readline()   # one line at a time  --> fist line

In [ ]:
print(f.readline())    # --> second line
print(f.readline())   # --> third line
print(f.readline())   # --> forth line

In [ ]:
f = open("/content/demo1.txt", mode = 'r')
f.readlines()  # each line separated with comma (type list) and all the lines at once
f.close()

In [ ]:
# open files from different location #
f = open("/content/demo1.txt", "r")    # read
print(f.read()) # reads content in the file

In [ ]:
f = open("/content/demo1.txt")
f.read(5) #reads first 5 characters

In [ ]:
# write to an existing file #
f = open("/content/demo1.txt", "a")   # create or append
f.write("Now the file has more content!")
f.close()

f = open("/content/demo1.txt", "r")
f.read() #observe one extra line is added

In [ ]:
# creating a new file #
f = open("/content/myfile1.txt", "x")   # create
f.write(' New file')
f.close()

In [ ]:
f=open('/content/myfile1.txt','r')
print(f.read())

f.close()

In [ ]:
#Delete a File
#To delete a file, you must import the OS module, and run its os.remove() function:
import os
os.remove("/content/myfile1.txt")

In [ ]:
f=open('/content/sample_data/mnist_test.csv','r')
print(f.read())

f.close()

# Exception Handling

In [ ]:
# try: and except: are key words for exceptional handling, try: provide the code ; except: except the error with a proper statement

#Ex - 1:
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x+y
    print(results)
except:
    print("please enter a valid number")

enter the 1st value = a
please enter a valid number

In [ ]:
x = eval(input("enter the 1st value = "))

enter the 1st value = a

NameError: ignored

In [ ]:
#Ex - 2:
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x/y
    print("final results = ", results)
except(ZeroDivisionError):
    print("please enter a non-zero value for the divisor")
except(NameError):
    print("Please enter valid number")
except(TypeError):
    print("Please enter both same type")

enter the 1st value = 6
enter the 2nd value = 0
please enter a non-zero value for the divisor

In [ ]:
6/0

ZeroDivisionError: ignored

In [ ]:
##In Python, keywords else and finally can also be used along with the try and except clauses. While the except block is executed
##if the exception occurs inside the try block, the else block gets processed if the try block is found to be exception free.
try:
    print("try block")
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

try block
Enter a number: 5
Enter another number: 10
else block
Division =  0.5
finally block
Out of try, except, else and finally blocks.

### Built-in Exceptions

In [ ]:
## There are plenty of built-in exceptions in Python that are raised when corresponding errors occur.
## We can view all the built-in exceptions using the built-in local() function as follows:
print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'dreload', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### User defined Exceptions

In [ ]:
# User defined Exceptions
x = int(input('Enter the number: '))
if x < 18:
  raise Exception("Sorry, You are not eligible for voting, register once you become 18 years old")
else:
    print('you entered: ',x)

Enter the number: 17

Exception: ignored

# Classes and Objects

In [ ]:
# Object

x = 10 # x is an object and store the value of 10

In [ ]:
# Class
# bike is a class and will have multiple objects in a class, as example followes

class bike:

    def __init__(self, MPG, Speed, length, b):
        self.MPG = MPG
        self.Speed = Speed
        self.length = length
        self.b = b

    def get_MPG(self):
        print(self.MPG)

    def area(self):
        return self.length*self.b

    def config(self):
        print("1000cc, abs")

    def speed(self):
        print("Top Speed is 250KMPS")

In [ ]:
comp1 = bike(55, 200, 1, 0.5)  # once we create class we have to save in a constructor so, comp1 is a constructor

# using below functions we can call different objects from a class
comp1.config()

1000cc, abs

In [ ]:
comp1.get_MPG()

55

# Inheritance

In [ ]:
# What is Inheritance?
# Inheritance is a powerful feature in object oriented programming.
# Single level, Multi-level, Multiple Inheritance

In [ ]:
# Ex: Normal class definition
class A:
    def product1(self):
        print("print product name1: ")

    def product2(self):
        print("print product name2: ")


name_a = A()

print(id(name_a))
name_a.product1()

140063470014928
print product name1:

In [ ]:
# Inheritance.. A is super class and B is sub class

class B(A):
    def product3(self):
        print("print product name3: ")
    def product4(self):
        print("print product name4: ")

name_b = B()
print(id(name_b))

name_b.product3() # function in the sub class

140063470016400
print product name3:

In [ ]:
name_b.product1() # function in the super class accessed with the sub class object

print product name1:

In [ ]:
class C():
    def product5(self):
        print("print product name5: ")
    def product6(self):
        print("print product name6: ")

name_c = C()

In [ ]:
# Multiple Inheritance
class D(A,C):
    def product7(self):
        print("Print product name7: ")
    def product8(self):
        print("Print Product name8: ")

name_d = D()

In [ ]:
name_d.product1() # super class function accessed by sub class

print product name1:

# Polymorphism

In [ ]:
# What is Polymorphism
# Polymorphism means that different types respond to the same function. Polymorphism is very useful as it makes
# programming more intuitive and therefore easier.

In [ ]:
class Bird:
    def intro(self):
        print("There are many types of birds.")

    def flight(self):
        print("Most of the birds can fly but some cannot.")

In [ ]:
class sparrow(Bird):
    def flight(self):
        print("Sparrows can fly.")

class ostrich(Bird):
    def flight(self):
        print("Ostriches cannot fly.")

# different classses implimenting same method

In [ ]:
# Creating instances of respective classes
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

In [ ]:
obj_bird.flight() #

Most of the birds can fly but some cannot.

In [ ]:
obj_spr.flight()

Sparrows can fly.

In [ ]:
obj_ost.flight()

Ostriches cannot fly.

# Multi Threding

In [ ]:
# Multi Threding
#----multithreading using sum of square---#
import time

def calc_square(numbers):
    print("calculate square numbers")
    for n in numbers:
        time.sleep(0.3)
        print('square:', n*n)

def calc_cube(numbers):
    print("calculate cube of numbers")
    for n in numbers:
        time.sleep(0.1)
        print('cube:', n*n*n)

In [ ]:
arr = [2,5,7,9]

t = time.time()
print(t)

calc_square(arr)

1636631136.1417296
calculate square numbers
square: 4
square: 25
square: 49
square: 81

In [ ]:
calc_cube(arr)

calculate cube of numbers
cube: 8
cube: 125
cube: 343
cube: 729

In [ ]:
print("done in: ", time.time() - t)
print("completed my way to work!")

done in:  8.800708055496216
completed my way to work!

In [ ]:
import threading

t1 = threading.Thread(target=calc_square, args=(arr,))
t2 = threading.Thread(target=calc_cube, args=(arr,))

In [ ]:
t = time.time()

t1.start()
t2.start()

t1.join()
t2.join()

print("done in: ", time.time()-t)
print("completed my way to work!")

calculate square numbers
calculate cube of numbers
cube: 8
cube: 125
square: 4
cube: 343
cube: 729
square: 25
square: 49
square: 81
done in:  1.2082874774932861
completed my way to work!

# Modules

In [ ]:
################ Modules ######################

# Modules are also called as packages
# how to call package is : Import package_name

#Example:1

# maths related package
import math

math.sqrt(16), math.pow(2,5)

(4.0, 32.0)

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
#Example:2

#calendar related package
import calendar

cal = calendar.month(2022, 1)

print(cal)


calendar.isleap(2018), calendar.isleap(2020)

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

(False, True)

### How to create own module?

In [ ]:

# create a new python file "find_area.py" with different fuctions as given below
#
# def cal_area_triangle(length,hight):
#    return 1/2*length*hight

# def cal_area_sqr(length):
#    return length*length


# def cal_area_rec(leng,bth):
#    return leng*bth

# def cal_area_cir(r):
#    return 3.14*r*r

# End of the Code

### Importing function from another file

In [ ]:
# Give path for the module
import sys
sys.path.append("/content/")

In [ ]:
sys.path

['',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython',
 '/content/find_area.py',
 '/content/']

In [ ]:
# call module and use functions
import find_area as f

area = f.cal_area_sqr(5)
print(area)

25

In [ ]:
area = f.cal_area_triangle(5,11)
print(area)

27.5

In [ ]:
# 1. Importing from folder
# There are generally two types of import syntax. When you use the first one, you import the resource directly, like this:
# "import abc"  #abc can be a package or a module.
import math

# When you use the second syntax, you import the resource from another package or module. Heres an example:
# "from abc import xyz " #xyz can be a module, subpackage, or object, such as a class or function.
from math import cos

# You can also choose to rename an imported resource, like so:
# "import abc as Other_name"
import math as m

###  Folders vs Packages

In [ ]:

# 1. A module is a file containing Python code. A package, however, is like a directory that holds sub-packages and modules.
# 2. A package must hold the file __init__.py. This does not apply to modules.
# 3. To import everything from a module, we use the wildcard *. But this does not work with packages.

In [ ]:
# import *
from math import *
# it ensures that everything that are present in math is imported and ready to use

In [ ]:
# How all() works for dictionaries

s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

False
True
False

### Recursive Import

In [ ]:
# WE define 2 modules a and b.. such that both will import one in other.. a import b and b import a.

#b.py

print ("b in")
import a
print ("b out")
x = 3


#a.py:

print ("a in")
import sys
print ("b imported: %s" % ("b" in sys.modules, ))
import b
print ("a out")

b in

ModuleNotFoundError: ignored

# Regular Expressions

In [ ]:
#Ex:1
import re

Nameage = '''Sharat is 25 and Pavan is 28 and Kaleem is 35 and Ganesh is 16'''

age = re.findall(r'\d{1,3}', Nameage)
names = re.findall(r'[A-Z][a-z]*', Nameage)

##agedict = {}

#x = 0

##for eachname in names:
     #agedict[eachname] = age[x]
     #x +=1

#print(agedict)

In [ ]:
age

['25', '28', '35', '16']

In [ ]:
names

['Sh', 'Pa', 'Ka', 'Ga']

In [ ]:
help(re.search)

In [ ]:
#Ex:2

import re

allname = re.findall("name","My name is Sharat and what is your name")

for i in allname:
    print(i)

name
name

In [ ]:
#Ex 3

import re

allname = "My name is Sharat and what is your name"

(3, 7)
(35, 39)

In [ ]:
#Ex: 4 Find match pattern

import re

names = "Aam,Bam,Sam,Ram,Mam,Jam,Fan"

allnames = re.findall("[^A-B]am", names)
allnames

for i in allnames:
  print(i)

Sam
Ram
Mam
Jam

In [ ]:
#Replace string

import re

names = "Sam,Ram,Mam,Jam"

regex =  re.compile("[R]am")

names = regex.sub("Rama", names)

print(names)

Sam,Rama,Mam,Jam

In [ ]:
## dividing num,alpha,special char
import re

re.sub("[A-Za-z]","    ", "ada 1231zxdq #@$@zxfsd312")

'             1231                 #@$@                    312'

In [ ]:
re.sub("[^A-Za-z]","#", "ada 1231zxdq #@$@zxfsd312")

'ada#####zxdq#####zxfsd###'

In [ ]:
## Remove white space

randstr = '''
My
name
is
Sharat
'''
print(randstr)

My
name
is
Sharat

In [ ]:
regex = re.compile("\n")

randstr = regex.sub("", randstr)

print(randstr)

 My name is Sharat

In [ ]:
## Number

import re

randstr = "12345"

print((re.findall("\d", randstr)))

print(re.search(r"\d{3}",randstr))

['1', '2', '3', '4', '5']
<re.Match object; span=(0, 3), match='123'>

In [ ]:
num = "123 1234 12345 123456 1234567"

print(len(re.findall("\d{5,7}",num))) #gives max frequency in the given numbers

3

In [ ]:
## Pan number verification

import re

#\d [0-9] - digits
#\w [a-zA-Z0-9_] - alphanumeric


pan = "4669-5549-AA1212hhwjjwkq3"

if re.search("\d{4}-\d{4}-\w{15}",pan):

    print("it is a Pan No.")

else:
    print("its not a Pan No.")

it is a Pan No.

In [ ]:
#Email Match

import re

email = "nk@hyd.com, md@.com, @llo.com, j@com"

print("EmailMatches:", (re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}", email)))

EmailMatches: ['nk@hyd.com']

In [ ]:
import re

name = "My name is Sharat but 1st you tell me what is your name"

re.split(" ", name)

['My',
 'name',
 'is',
 'Sharat',
 'but',
 '1st',
 'you',
 'tell',
 'me',
 'what',
 'is',
 'your',
 'name']

# Python Packages for Data Analysis

## numpy

In [ ]:
import numpy as np

# A list of elements in variable 'x'

x = [10,21,3,14,15,16]

# how to multiply the list values with 2
x*2 #  provides dual list

[10, 21, 3, 14, 15, 16, 10, 21, 3, 14, 15, 16]

In [ ]:
# Numpy array will help access the values
y = np.array(x)
print(type(y))
print(y*2)

y>10 , y[y>10]

<class 'numpy.ndarray'>
[20 42  6 28 30 32]

(array([False,  True, False,  True,  True,  True]), array([21, 14, 15, 16]))

### Memory savers

In [ ]:
#numpy arrays shares the memory instead of allocating seperate memory

a=np.arange(10)

b=a[::2]
print(np.shares_memory(a,b)) #check whether a and b shares memory
a,b

True

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([0, 2, 4, 6, 8]))

### numpy matrices

In [ ]:
# Numpy matrics
#Ex:1
a = np.matrix('1 2; 3 4')
print(a)

#Ex:2
b = np.matrix([[1, 2], [3, 4]])
print(b)

[[1 2]
 [3 4]]
[[1 2]
 [3 4]]

In [ ]:
#numpy broad casting helps when working on different sized arrays
a=np.arange(0,40,10)

b=np.array([0,1,2])

a.shape, a, b, b.shape

((4,), array([ 0, 10, 20, 30]), array([0, 1, 2]), (3,))

# Data Structures

## Arrays/Vectors

In [ ]:
from array import *

In [ ]:
dir(array)

['__add__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'buffer_info',
 'byteswap',
 'count',
 'extend',
 'frombytes',
 'fromfile',
 'fromlist',
 'fromunicode',
 'index',
 'insert',
 'itemsize',
 'pop',
 'remove',
 'reverse',
 'tobytes',
 'tofile',
 'tolist',
 'tounicode',
 'typecode']

In [ ]:
help()

In [ ]:
# Creating an array
from array import *       # Array is created in Python by importing array module to the python program.

array1 = array('i', [10,20,30,40,50])

for x in array1:
 print(x)

10
20
30
40
50

In [ ]:
array1

array('i', [10, 20, 30, 40, 50])

In [ ]:
help(array)

In [ ]:
# insert operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.insert(1,60) # inserting the data at specified location

In [ ]:
for x in array1:
 print(x)

10
60
20
30
40
50

In [ ]:
# Deletion operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.remove(40) # deleting data we want

for x in array1:
 print(x)

10
20
30
50

In [ ]:
# Update operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1[4] = 80 #updating

for x in array1:
 print(x)

10
20
30
40
80

## 2D Arrays

In [ ]:
# Accessing Values in a Two Dimensional Array.
# The data elements in two dimesnional arrays can be accessed using two indices.
# One index referring to the main or parent array and another index referring to
# the position of the data element in the inner array.
# If we mention only one index then the entire inner array is printed for that index position.

from array import *

T = [[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12,15,8,6]] # 2D array

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

In [ ]:
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [ ]:
# Inserting Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T.insert(2, [0,5,11,13,6]) #inserting at index=2

T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2],
 [15, 6, 10],
 [0, 5, 11, 13, 6],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [ ]:
# Updating Values in Two Dimensional Array
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T[2] = [11,9] #updating element (row) at index=2
T[0][3] = 7 #updating element in first row, 4th column
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 7], [15, 6, 10], [11, 9], [12, 15, 8, 6]]

In [ ]:
# Deleting the Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

del T[3] # deleting at index=3
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5]]

In [ ]:
import array
x= array.array('d', [1,2])

In [ ]:
x

array('d', [1.0, 2.0, 10.0])

In [ ]:
y=10
x.append(y)

In [ ]:
help(x.pop)

Help on built-in function pop:

pop(i=-1, /) method of array.array instance
    Return the i-th element and delete it from the array.

    i defaults to -1.

In [ ]:
x= array.array('i',[1,2,3])
x.pop(1)

2

In [ ]:
x

array('i', [1, 3])

## Matrix
Matrix is a special case of two dimensional array where each data element is of strictly same size. So every matrix is also a two dimensional array but not vice versa. Matrices are very important data structures for many mathematical and scientific calculations.

In [ ]:
from numpy import *
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

In [ ]:
a.shape

(7, 5)

In [ ]:
# Matrix Example
from numpy import *
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

m = reshape(a,(7,5)) # dimentisions of matrix aka rows*columns
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [ ]:
# Accessing Values in a Matrix
from numpy import *
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

# Print data for Wednesday
print(m[2])

# Print data for friday evening
print(m[4][3])

['Wed' '15' '21' '20' '19']
23

In [ ]:
# Adding the data
from numpy import *
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

m_r = append(m,[['Avg',12,15,13,11]],0) # adding by using append at the end .(0-- row)
m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1) # adding by using insert at required location .(1-- column)
#print(m)
print(m_r)
print('***********')
print(m_c)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]
***********
[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

In [ ]:
help(insert)

In [ ]:
len(m)

7

In [ ]:
# Delete from matrix
from numpy import *
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

print(m) # original matrix
print('********************')

n1 = delete(m,[2],0) # deleting row at index=2
print(n1)
print('***********')
n2 = delete(m,[2],1) # deleting column at index=2
n2

In [ ]:
delete(m,[4],1)

array([['Mon', '18', '20', '22'],
       ['Tue', '11', '18', '21'],
       ['Wed', '15', '21', '20'],
       ['Thu', '11', '20', '22'],
       ['Fri', '18', '17', '23'],
       ['Sat', '12', '22', '20'],
       ['Sun', '13', '15', '19']], dtype='<U21')

In [ ]:
import numpy as np

In [ ]:
import array
x= array.array('i',[1,2,3,4])
x.reverse()
x.extend([6,7])
x

array('i', [4, 3, 2, 1, 6, 7])

In [ ]:
import numpy as np
array1= np.zeros((2,3))
array1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
array2=np.ones((,5),dtype=np.int32)
array2= np.arange(12)
array2.reshape(2,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [ ]:
A= np.array([[1,4,5,12],[-5,8,9,10],[-6,7,11,19]])

In [ ]:
B=np.array([[9,-3],[3,6]])

In [ ]:
C= A*B

In [ ]:
C

array([[ 18, -12],
       [ 15, -36]])

In [ ]:
print(A.transpose())

[[ 2  5]
 [ 4 -6]]

In [ ]:
A

array([[ 1,  4,  5, 12],
       [-5,  8,  9, 10],
       [-6,  7, 11, 19]])

In [ ]:
A[1:2,1:2]

array([[8]])

## Pandas

In [ ]:
# Importing necessary libraries
import pandas as pd # importing pandas = > useful for creating dataframes
import numpy as np   # importing numpy = > useful for creating numpy arrays

In [ ]:
dir(pd)

In [ ]:
# Importing necessary libraries
import pandas as pd # importing pandas = > useful for creating dataframes
import numpy as np   # importing numpy = > useful for creating numpy arrays


x1 = [1, 2, 3, 4,5] # list format
x2 = [10, 11, 12,13,14]  # list format

x3 = list(range(5))

# Creating a data frame using explicits lists
X = pd.DataFrame(columns = ["X1","X2","X3"])
X

Empty DataFrame
Columns: [X1, X2, X3]
Index: []

In [ ]:
X= range(6)

In [ ]:
list(X)

[0, 1, 2, 3, 4, 5]

In [ ]:
X.X1 = x1 # Converting list format into pandas series format
X.X2 = x2 # Converting list format into pandas series format
X.X3 = x3

In [ ]:
X.X2=pd.Series(x2)
X.X3= x3

In [ ]:
X

   X1    X2  X3
0   1  10.0   0
1   2  11.0   1
2   3  12.0   2
3   4   NaN   3
4   5   NaN   4

In [ ]:
# Copy same data into another variable
dff = X.copy(deep=False)    # Shallow copy shares data and index with original.
dff1 = X.copy(deep=True)    # Deep copy has own copy of data and index.

In [ ]:
dff

   age  gender  state
0    1      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

In [ ]:
id(dff)

138226989084736

In [ ]:
id(dff1)

138226122897632

In [ ]:
dff1

   age  gender  state
0    1      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

Explanation

In [ ]:
# shallow copy
dff['age'][0] = 10
print(dff)   # Any change in copy format will going to make changes in original data also
X

   age  gender  state
0   10      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

   age  gender  state
0   10      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

In [ ]:
# Deep copy
dff1['age'][0] = 15
print(dff1)    # Any change in copy format will not going to make changes in original data
X

   age  gender  state
0   15      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

   age  gender  state
0   10      10      0
1    2      11      1
2    3      12      2
3    4      13      3
4    5      14      4

In [ ]:
X["X1"] = pd.Series(x1) # Converting list format into pandas series format
X["X2"] = pd.Series(x2) # Converting list format into pandas series format
X["X3"] = pd.Series(x3)
X

   X1  X2  X3
0   1  10   0
1   2  11   1
2   3  12   2
3   4  13   3
4   5  14   4

In [ ]:
# Accessing columns using "." (dot) operation
X.X1

0    1
1    2
2    3
3    4
4    5
Name: X1, dtype: int64

In [ ]:
# Accessing columns alternative way
X["X1"]

0    1
1    2
2    3
3    4
4    5
Name: X1, dtype: int64

In [ ]:
# Accessing multiple columns : giving column names as input in list format
X[["X1","X2"]]

   X1  X2
0   1  10
1   2  11
2   3  12
3   4  13
4   5  14

In [ ]:
# Accessing elements using ".iloc" : accessing each cell by row and column
# index values
X.iloc[:,1]

0    10
1    11
2    12
3    13
4    14
Name: X2, dtype: int64

In [ ]:
X.iloc[:,:] # Get entire data frame

   X1  X2  X3
0   1  10   0
1   2  11   1
2   3  12   2
3   4  13   3
4   5  14   4

In [ ]:
X.loc[0:2,["X1","X3"]] # Get specified columns

   X1  X3
0   1   0
1   2   1
2   3   2

In [ ]:
# Merge operation using pandas dataframe
import pandas as pd
df1 = pd.DataFrame({"X1":[1,2,3],"X2":[4,8,12],})
df2 = pd.DataFrame({"X1":[1,2,3,4],"X3":[4,8,12,15],})

dfm = pd.merge(df1,df2, how='cross') # merge function
dfm

    X1_x  X2  X1_y  X3
0      1   4     1   4
1      1   4     2   8
2      1   4     3  12
3      1   4     4  15
4      2   8     1   4
5      2   8     2   8
6      2   8     3  12
7      2   8     4  15
8      3  12     1   4
9      3  12     2   8
10     3  12     3  12
11     3  12     4  15

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                        'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                        'value': [5, 6, 7, 8]})

In [ ]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [ ]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [ ]:
df1.merge(df2, how='cross')

   lkey  value_x rkey  value_y
0   foo        1  foo        5
1   foo        1  bar        6
2   foo        1  baz        7
3   foo        1  foo        8
4   bar        2  foo        5
5   bar        2  bar        6
6   bar        2  baz        7
7   bar        2  foo        8
8   baz        3  foo        5
9   baz        3  bar        6
10  baz        3  baz        7
11  baz        3  foo        8
12  foo        5  foo        5
13  foo        5  bar        6
14  foo        5  baz        7
15  foo        5  foo        8

In [ ]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    .. warning::

        If both key columns contain rows where the key is a null value, those
        rows will be matched against each other. This is different from usual SQL
        join behaviour and can lead to unexpected results.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [ ]:
#joining operation
df1 = pd.DataFrame({"X1":[1,2,3],"X2":[4,8,12],},index = [2000,2001,2002])
df2 = pd.DataFrame({"X3":[1,2,3],"X4":[4,8,12],},index = [2001,2002,2003])

print(df1)
print('*********')
print(df2)
print('*********')
joined = df1.join(df2) # join function based on index values
joined

      X1  X2
2000   1   4
2001   2   8
2002   3  12
*********
      X3  X4
2001   1   4
2002   2   8
2003   3  12
*********

      X1  X2   X3   X4
2000   1   4  NaN  NaN
2001   2   8  1.0  4.0
2002   3  12  2.0  8.0

In [ ]:
# Replace index name
df = pd.DataFrame({"X1":[1,2,3],"X2":[4,8,12],})
print(df)
print('********')

   X1  X2
0   1   4
1   2   8
2   3  12
********

In [ ]:
df.set_index("X1", inplace = True) # Assiging index names using column names

In [ ]:
df

    X2
X1
1    4
2    8
3   12

In [ ]:
# Change the column names
df = pd.DataFrame({"X1":[1,2,3],"X2":[4,8,12],})
print(df)
print('*****')

df  = df.rename(columns = {"X1":"X3"}) # Change column names

print(df)

   X1  X2
0   1   4
1   2   8
2   3  12
*****
   X3  X2
0   1   4
1   2   8
2   3  12

In [ ]:
# Concatenation

df1 = pd.DataFrame({"X1":[1,2,3],"X2":[4,8,12],},index = [2000,2001,2002])
df2 = pd.DataFrame({"X1":[4,5,6],"X3":[14,16,18],},index = [2003,2004,2005])

Concatenate = pd.concat([df1,df2])

print(Concatenate)

      X1    X2    X3
2000   1   4.0   NaN
2001   2   8.0   NaN
2002   3  12.0   NaN
2003   4   NaN  14.0
2004   5   NaN  16.0
2005   6   NaN  18.0

In [ ]:
import pandas as pd

In [ ]:
# Import data (.csv file) using pandas. We are using education data set
mba = pd.read_csv("/content/education.csv")
#mba = pd.read_csv("")

print(type(mba)) # pandas data frame

mba.shape # Size of the dataframe

<class 'pandas.core.frame.DataFrame'>

(773, 3)

In [ ]:
mba.head(10) # Gives first 5 records data

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740
3         4      99   690
4         5     208   710
5         6     136   660
6         7      70   660
7         8     103   710
8         9      79   700
9        10      22   730

In [ ]:
mba.iloc[1].value_counts # Gives frequency distribution of partcular column

<bound method IndexOpsMixin.value_counts of datasrno      2
workex      107
gmat        640
Name: 1, dtype: int64>

In [ ]:
mba.workex.value_counts

<bound method IndexOpsMixin.value_counts of 0       21
1      107
2       57
3       99
4      208
      ...
768     88
769    132
770     28
771     10
772     52
Name: workex, Length: 773, dtype: int64>

In [ ]:
mba.describe() # Gives descriptive stats

        datasrno     workex        gmat
count  773.00000  773.00000  773.000000
mean   387.00000   57.50194  711.164295
std    223.29017   27.38682   29.339714
min      1.00000    9.00000  600.000000
25%    194.00000   41.00000  690.000000
50%    387.00000   52.00000  710.000000
75%    580.00000   69.00000  730.000000
max    773.00000  279.00000  780.000000

In [ ]:
help(pd)

## Boolean indexing

In [ ]:
dff1

   X1  X2  X3
0   1  10   0
1   2  11   1
2   3  12   2
3   4  13   3
4   5  14   4

In [ ]:
dff1[dff1.X1 > 3]     # Getting values greater than 3 in from X1 column

   X1  X2  X3
3   4  13   3
4   5  14   4

In [ ]:
dff1['A'] = ['one', 'one','two','three','four']

In [ ]:
dff1

   X1  X2  X3      A
0   1  10   0    one
1   2  11   1    one
2   3  12   2    two
3   4  13   3  three
4   5  14   4   four

In [ ]:
dff1.A.isin(['one'])

0     True
1     True
2    False
3    False
4    False
Name: A, dtype: bool

In [ ]:
dff1[dff1.A.isin(['one','three'])]

   X1  X2  X3      A
0   1  10   0    one
1   2  11   1    one
3   4  13   3  three

In [ ]:
dff1.iat[1,2] = 5   # Setting values by positions
dff1

   X1  X2  X3      A
0   1  10   0    one
1   2  11   5    one
2   3  12   2    two
3   4  13   3  three
4   5  14   4   four

## Missing data

In [ ]:
dff1.X2[3], dff1.X1[2] = None, None
dff1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    X1    X2  X3      A
0  1.0  10.0   0    one
1  2.0  11.0   5    one
2  NaN  12.0   2    two
3  4.0   NaN   3  three
4  5.0  14.0   4   four

In [ ]:
dff1.info()    # Having null values in X1 and X2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4 non-null      float64
 1   X2      4 non-null      float64
 2   X3      5 non-null      int64
 3   A       5 non-null      object
dtypes: float64(2), int64(1), object(1)
memory usage: 288.0+ bytes

In [ ]:
dff1.isnull()

      X1     X2     X3      A
0  False  False  False  False
1  False  False  False  False
2   True  False  False  False
3  False   True  False  False
4  False  False  False  False

In [ ]:
dff1.isna()

      X1     X2     X3      A
0  False  False  False  False
1  False  False  False  False
2   True  False  False  False
3  False   True  False  False
4  False  False  False  False

In [ ]:
dff1.isna().sum()

X1    1
X2    1
X3    0
A     0
dtype: int64

In [ ]:
# Dropping Na values

dff1.dropna(inplace=False)   # inplace = True, will going to make changes in original DataFrame

    X1    X2  X3     A
0  1.0  10.0   0   one
1  2.0  11.0   5   one
4  5.0  14.0   4  four

In [ ]:
# Filling all na values

dff1.fillna(value = 100, inplace = False)

      X1     X2  X3      A
0    1.0   10.0   0    one
1    2.0   11.0   5    one
2  100.0   12.0   2    two
3    4.0  100.0   3  three
4    5.0   14.0   4   four

In [ ]:
# only one column

dff1.X1.fillna(value = 500, inplace=False)

0      1.0
1      2.0
2    500.0
3      4.0
4      5.0
Name: X1, dtype: float64

In [ ]:
# Multiple columns

dff1.loc[:,['X1','X2']].fillna(value = 500,inplace=False)

      X1     X2
0    1.0   10.0
1    2.0   11.0
2  500.0   12.0
3    4.0  500.0
4    5.0   14.0

## Operations in pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x1 = [1, 2, 3, 4,5] # list format
x2 = [10, 11, 12,13,14]  # list format

x3 = list(range(5))

# Creating a data frame using explicits lists
dff1 = pd.DataFrame({"X1":x1,"X2":x2,"X3":x3})

In [ ]:
dff1

   X1  X2  X3
0   1  10   0
1   2  11   1
2   3  12   2
3   4  13   3
4   5  14   4

In [ ]:
dff1.X1 + dff1.X2

0    11
1    13
2    15
3    17
4    19
dtype: int64

In [ ]:
dff1.X1 + dff1.X2 * dff1.X3

0     1
1    13
2    27
3    43
4    61
dtype: int64

In [ ]:
dff1['new'] = dff1.X1 + dff1.X2 * dff1.X3 + 5
dff1

   X1  X2  X3  new
0   1  10   0    6
1   2  11   1   18
2   3  12   2   32
3   4  13   3   48
4   5  14   4   66

In [ ]:
dff1.X1.mean()

3.0

In [ ]:
dff1.mean()

X1      3.0
X2     12.0
X3      2.0
new    34.0
dtype: float64

In [ ]:
dff1.sum()

X1      15
X2      60
X3      10
new    170
dtype: int64

In [ ]:
dff1.max()

X1      5
X2     14
X3      4
new    66
dtype: int64

In [ ]:
dff1.min()

X1      1
X2     10
X3      0
new     6
dtype: int64

In [ ]:
dff1.count()

X1     5
X2     5
X3     5
new    5
dtype: int64

In [ ]:
dff1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      5 non-null      int64
 1   X2      5 non-null      int64
 2   X3      5 non-null      int64
 3   new     5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [ ]:
dff1.dtypes

X1     int64
X2     int64
X3     int64
new    int64
dtype: object

In [ ]:
# Apply method is very helpful for applying any kind of function in DataFrame

dff1.apply(lambda x : x.max() + x.min())

X1      6
X2     24
X3      4
new    72
dtype: int64

In [ ]:
dff1.apply(lambda x : x.max() + x.min(),axis=0)

X1      6
X2     24
X3      4
new    72
dtype: int64

In [ ]:
dff1.X1.apply(lambda x : x + 2 )

0    3
1    4
2    5
3    6
4    7
Name: X1, dtype: int64

In [ ]:
def manuplate(x):
  if x > 2:
    return 'Yes'
  else:
    return 'No'

In [ ]:
# using other function

dff1.X1.apply(lambda x : manuplate(x))

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: X1, dtype: object

In [ ]:
# another way

dff1.X1.apply(manuplate)

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: X1, dtype: object

In [ ]:
dff1.X1.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
Name: X1, dtype: float64

In [ ]:
dff1

   X1  X2  X3  new
0   1  10   0    6
1   2  11   1   18
2   3  12   2   32
3   4  13   3   48
4   5  14   4   66

In [ ]:
# Multiple columns

dff1.loc[:,['X1','X2']].apply(lambda x: x + 2)

   X1  X2
0   3  12
1   4  13
2   5  14
3   6  15
4   7  16

In [ ]:
# Applying changes according to multiple columns

dff1.apply(lambda x: x.X1 + x.X2, axis=1)

0    11
1    13
2    15
3    17
4    19
dtype: int64

## Dates and Times

In [ ]:
# To deal with dates and times we have seperate packages in python - datetime
from datetime import date

date.fromisoformat('2019-12-04')    # format YYYY-MM-DD

datetime.date(2019, 12, 4)

In [ ]:
byt = bytes(3)

print(type(byt))

print(byt)

<class 'bytes'>
b'\x00\x00\x00'

In [ ]:
# we can replace the dates
d = date(2002, 12, 31)
d.replace(day=26)

datetime.date(2002, 12, 26)

In [ ]:
#Example
#date.isocalendar()
from datetime import date
date(2003, 12, 29).isocalendar()

(2004, 1, 1)

In [ ]:
#date.isoformat()
from datetime import date
date(2002, 12, 4).isoformat()

'2002-12-04'

In [ ]:
# Timedelta function demonstration

from datetime import datetime, timedelta


# Using current time
ini_time_for_now = datetime.now()

# printing initial_date
print ("initial_date", str(ini_time_for_now))

# Calculating future dates
# for two years
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730)
# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))

initial_date 2021-11-18 12:11:50.842591
future_date_after_2yrs: 2023-11-18 12:11:50.842591

In [ ]:
import time
date.fromtimestamp(time.time())

datetime.date(2021, 11, 18)

## Date Formatting

%a	Abbreviated weekday name.	Sun, Mon, ...

%A	Full weekday name.	Sunday, Monday, ...

%w	Weekday as a decimal number.	0, 1, ..., 6

%d	Day of the month as a zero-padded decimal.	01, 02, ..., 31

%-d	Day of the month as a decimal number.	1, 2, ..., 30

%b	Abbreviated month name.	Jan, Feb, ..., Dec

%B	Full month name.	January, February, ...

%m	Month as a zero-padded decimal number.	01, 02, ..., 12

%-m	Month as a decimal number.	1, 2, ..., 12

%y	Year without century as a zero-padded decimal number.	00, 01, ..., 99

%-y	Year without century as a decimal number.	0, 1, ..., 99

%Y	Year with century as a decimal number.	2013, 2019 etc.

%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23

%-H	Hour (24-hour clock) as a decimal number.	0, 1, ..., 23

%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12

%-I	Hour (12-hour clock) as a decimal number.	1, 2, ... 12

%p	Locales AM or PM.	AM, PM

%M	Minute as a zero-padded decimal number.	00, 01, ..., 59

%-M	Minute as a decimal number.	0, 1, ..., 59

%S	Second as a zero-padded decimal number.	00, 01, ..., 59

%-S	Second as a decimal number.	0, 1, ..., 59

%f	Microsecond as a decimal number, zero-padded on the left.	000000 - 999999

%z	UTC offset in the form +HHMM or -HHMM.

%Z	Time zone name.

%j	Day of the year as a zero-padded decimal number.	001, 002, ..., 366

%-j	Day of the year as a decimal number.	1, 2, ..., 366

%U	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53

%W	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53

%c	Locales appropriate date and time representation.	Mon Sep 30 07:06:05 2013

%x	Locales appropriate date representation.	09/30/13

%X	Locales appropriate time representation.	07:06:05

%%	A literal '%' character.

In [ ]:
import datetime

date_time_str = '2018-06-29 08:15:27.243860'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2018-06-29
Time: 08:15:27.243860
Date-time: 2018-06-29 08:15:27.243860

In [ ]:
date_time_str = '2018-jan-29 08:15:27'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%b-%d %H:%M:%S')
print(date_time_obj)

2018-01-29 08:15:27

Formatting Examples

In [ ]:
print(date_time_obj.strftime('%Y-%b-%d'))
print(date_time_obj.strftime('%a-%b-%y'))
print(date_time_obj.strftime('%a-%b-%y %I:%M:%S %p'))
print(date_time_obj.strftime('Date is %D, and Time is %T'))
print(date_time_obj.strftime('%A-%B-%Y'))

2018-Jan-29
Mon-Jan-18
Mon-Jan-18 08:15:27 AM
Date is 01/29/18, and Time is 08:15:27
Monday-January-2018

## Date and time manuplation with pandas

Lets first create DataFrame

In [ ]:
# Function for genrating random date and time for a range of date

from random import randrange
from datetime import timedelta

def random_date(start, end):
    ''' genrating random date '''
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [ ]:
from datetime import datetime
d1 = datetime.strptime('1/1/1998 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2020 4:50 AM', '%m/%d/%Y %I:%M %p')
print(random_date(d1, d2))

2014-06-01 10:50:47

In [ ]:
date_time = []
for i in range(50):
  date_time.append(random_date(d1, d2))
date_time

[datetime.datetime(2001, 4, 27, 5, 29, 42),
 datetime.datetime(2003, 11, 11, 23, 59, 17),
 datetime.datetime(2004, 5, 5, 23, 48, 49),
 datetime.datetime(2009, 3, 4, 8, 39, 48),
 datetime.datetime(2004, 8, 25, 13, 58, 48),
 datetime.datetime(2001, 6, 22, 17, 52, 54),
 datetime.datetime(2018, 11, 22, 18, 49, 47),
 datetime.datetime(1999, 10, 24, 1, 53, 37),
 datetime.datetime(2006, 4, 11, 2, 4, 35),
 datetime.datetime(2018, 9, 12, 12, 49, 35),
 datetime.datetime(2016, 3, 8, 14, 36, 29),
 datetime.datetime(2010, 9, 24, 14, 59, 6),
 datetime.datetime(2000, 12, 26, 16, 12, 46),
 datetime.datetime(2013, 12, 30, 22, 51, 2),
 datetime.datetime(2018, 3, 2, 12, 54, 49),
 datetime.datetime(1999, 1, 20, 8, 4, 13),
 datetime.datetime(2000, 2, 2, 5, 40, 35),
 datetime.datetime(2006, 10, 24, 3, 59, 45),
 datetime.datetime(1999, 4, 9, 16, 1, 8),
 datetime.datetime(2003, 5, 2, 19, 1, 35),
 datetime.datetime(1998, 1, 13, 23, 0, 25),
 datetime.datetime(2009, 11, 29, 23, 12, 37),
 datetime.datetime(2011, 5, 2, 15, 51, 59),
 datetime.datetime(2001, 6, 5, 20, 42, 2),
 datetime.datetime(2016, 7, 24, 1, 51, 42),
 datetime.datetime(2019, 8, 28, 21, 31, 10),
 datetime.datetime(2011, 5, 18, 9, 13, 9),
 datetime.datetime(2002, 10, 5, 9, 21, 9),
 datetime.datetime(2018, 10, 17, 14, 25, 11),
 datetime.datetime(2006, 9, 18, 11, 53, 50),
 datetime.datetime(2010, 5, 7, 6, 3, 11),
 datetime.datetime(2002, 12, 26, 18, 56, 53),
 datetime.datetime(2014, 9, 11, 0, 18),
 datetime.datetime(1998, 12, 20, 6, 35, 34),
 datetime.datetime(2013, 4, 25, 16, 51, 21),
 datetime.datetime(2002, 3, 31, 21, 51, 54),
 datetime.datetime(2014, 1, 9, 19, 44, 59),
 datetime.datetime(2006, 7, 3, 19, 32, 14),
 datetime.datetime(2016, 8, 26, 4, 8, 50),
 datetime.datetime(2016, 4, 22, 15, 4, 24),
 datetime.datetime(2007, 2, 28, 14, 0),
 datetime.datetime(2015, 11, 30, 16, 37, 35),
 datetime.datetime(2005, 12, 31, 10, 50, 7),
 datetime.datetime(2008, 1, 26, 17, 56, 18),
 datetime.datetime(2008, 11, 2, 3, 36, 24),
 datetime.datetime(2012, 7, 14, 9, 27, 45),
 datetime.datetime(2018, 7, 5, 17, 14, 58),
 datetime.datetime(2011, 8, 7, 13, 4, 18),
 datetime.datetime(2019, 6, 21, 18, 2, 31),
 datetime.datetime(2009, 11, 2, 5, 38, 19)]

In [ ]:
# genarating random date string format

date_time0 = []
for i in range(50):
  year_month_day = str(randrange(1998,2021)) + '-' + str(randrange(1,12)) + '-' + str(randrange(1,25))
  date_time0.append(year_month_day)
date_time0

['2002-6-21',
 '2008-10-16',
 '2014-3-19',
 '2018-1-18',
 '2011-4-20',
 '2014-4-21',
 '2006-1-17',
 '2015-9-24',
 '2008-2-19',
 '1999-5-16',
 '1998-10-2',
 '2005-10-3',
 '2002-4-2',
 '2014-8-6',
 '2004-6-9',
 '2008-4-14',
 '2010-10-17',
 '2018-2-22',
 '2006-5-12',
 '2012-9-12',
 '2003-8-7',
 '2017-4-1',
 '2001-3-17',
 '2013-1-24',
 '2012-3-17',
 '1999-10-1',
 '2004-3-5',
 '2004-1-12',
 '2006-7-22',
 '2001-9-10',
 '2012-11-22',
 '2006-2-9',
 '2004-9-8',
 '2001-7-3',
 '2009-2-11',
 '2006-1-19',
 '2008-9-7',
 '2005-4-15',
 '2002-8-18',
 '2006-2-9',
 '2004-1-11',
 '2002-11-13',
 '2010-3-16',
 '2004-2-10',
 '2020-3-15',
 '2016-1-17',
 '2020-10-13',
 '2003-11-1',
 '1999-10-1',
 '2017-10-7']

In [ ]:
# genarating random date time string format

date_time1 = []
for i in range(50):
  year_month_day_hour_min_sec = str(randrange(1998,2021)) + '-' + str(randrange(1,12)) + '-' + str(randrange(1,25)) + ' ' + str(randrange(1,23)) \
  + ':' + str(randrange(0,59)) + ':' + str(randrange(0,59))
  date_time1.append(year_month_day_hour_min_sec)
date_time1

['2001-6-4 9:40:53',
 '2019-10-1 18:36:16',
 '2004-5-9 22:45:11',
 '2002-4-4 20:55:46',
 '2006-2-21 4:37:9',
 '2020-2-13 4:15:52',
 '1998-6-17 18:16:19',
 '2018-2-19 7:6:1',
 '2005-11-19 3:39:48',
 '1999-2-3 8:55:44',
 '2008-4-21 11:54:0',
 '1999-10-6 5:16:53',
 '2014-3-11 19:50:42',
 '2013-8-3 15:46:7',
 '2005-8-24 3:47:46',
 '2014-10-9 13:38:38',
 '2010-5-18 1:51:50',
 '2002-3-15 2:7:28',
 '2012-10-8 10:22:48',
 '2008-7-2 2:34:26',
 '2006-4-1 20:48:23',
 '2011-9-3 20:46:26',
 '2011-9-8 3:25:33',
 '2001-3-5 9:11:22',
 '1999-5-14 2:42:13',
 '2004-7-16 2:26:0',
 '2002-10-6 2:15:4',
 '2015-11-17 22:46:10',
 '1999-5-21 11:42:3',
 '2001-9-10 14:8:30',
 '2015-1-16 8:13:58',
 '2017-9-20 7:10:33',
 '2009-1-16 12:30:26',
 '2011-9-6 12:53:47',
 '2001-11-20 12:22:53',
 '2018-3-12 5:32:2',
 '2007-3-14 12:21:19',
 '2005-7-3 22:45:18',
 '2019-10-7 22:34:21',
 '2016-1-11 2:51:18',
 '2017-1-20 16:40:30',
 '2008-9-1 10:32:5',
 '2020-11-9 22:38:40',
 '2000-3-19 4:19:11',
 '2004-5-18 12:53:19',
 '2015-9-4 3:26:31',
 '2011-2-3 18:12:6',
 '2020-11-16 7:10:8',
 '2009-6-23 21:32:36',
 '2014-10-9 2:10:45']

Creating DataFrame

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {'first_col':date_time,'second_col':date_time0,'third_col':date_time1}
)
df.head()  # for getting first five columns

            first_col  second_col           third_col
0 2001-04-27 05:29:42   2002-6-21    2001-6-4 9:40:53
1 2003-11-11 23:59:17  2008-10-16  2019-10-1 18:36:16
2 2004-05-05 23:48:49   2014-3-19   2004-5-9 22:45:11
3 2009-03-04 08:39:48   2018-1-18   2002-4-4 20:55:46
4 2004-08-25 13:58:48   2011-4-20    2006-2-21 4:37:9

In [ ]:
df.info()  # datatype of each columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_col   50 non-null     datetime64[ns]
 1   second_col  50 non-null     object
 2   third_col   50 non-null     object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.3+ KB

In [ ]:
df.dtypes

first_col     datetime64[ns]
second_col            object
third_col             object
dtype: object

###Conversion string to date

In [ ]:
df['new_date'] = pd.to_datetime(df.second_col).dt.date   # it will not going to change datatype it will only going to put into right format
df['new_time'] = pd.to_datetime(df.third_col).dt.time
df.head()

            first_col  second_col           third_col    new_date  new_time
0 2001-04-27 05:29:42   2002-6-21    2001-6-4 9:40:53  2002-06-21  09:40:53
1 2003-11-11 23:59:17  2008-10-16  2019-10-1 18:36:16  2008-10-16  18:36:16
2 2004-05-05 23:48:49   2014-3-19   2004-5-9 22:45:11  2014-03-19  22:45:11
3 2009-03-04 08:39:48   2018-1-18   2002-4-4 20:55:46  2018-01-18  20:55:46
4 2004-08-25 13:58:48   2011-4-20    2006-2-21 4:37:9  2011-04-20  04:37:09

In [ ]:
df.dtypes

first_col     datetime64[ns]
second_col            object
third_col             object
new_date              object
new_time              object
dtype: object

In [ ]:
df['date_type'] = pd.to_datetime(df.second_col)   # datatype changed now

In [ ]:
df.dtypes

first_col     datetime64[ns]
second_col            object
third_col             object
new_date              object
new_time              object
date_type     datetime64[ns]
dtype: object

In [ ]:
df['day'] = pd.to_datetime(df.second_col).dt.day
df.head()

            first_col  second_col           third_col  ...  new_time  date_type day
0 2001-04-27 05:29:42   2002-6-21    2001-6-4 9:40:53  ...  09:40:53 2002-06-21  21
1 2003-11-11 23:59:17  2008-10-16  2019-10-1 18:36:16  ...  18:36:16 2008-10-16  16
2 2004-05-05 23:48:49   2014-3-19   2004-5-9 22:45:11  ...  22:45:11 2014-03-19  19
3 2009-03-04 08:39:48   2018-1-18   2002-4-4 20:55:46  ...  20:55:46 2018-01-18  18
4 2004-08-25 13:58:48   2011-4-20    2006-2-21 4:37:9  ...  04:37:09 2011-04-20  20

[5 rows x 7 columns]

In [ ]:
pd.to_datetime(df.second_col).dt.day
# pd.to_datetime(df.second_col).dt.days_in_month
# pd.to_datetime(df.second_col).dt.is_leap_year  # true or false
# pd.to_datetime(df.second_col).dt.month
# pd.to_datetime(df.second_col).dt.quarter

0     21
1     16
2     19
3     18
4     20
5     21
6     17
7     24
8     19
9     16
10     2
11     3
12     2
13     6
14     9
15    14
16    17
17    22
18    12
19    12
20     7
21     1
22    17
23    24
24    17
25     1
26     5
27    12
28    22
29    10
30    22
31     9
32     8
33     3
34    11
35    19
36     7
37    15
38    18
39     9
40    11
41    13
42    16
43    10
44    15
45    17
46    13
47     1
48     1
49     7
Name: second_col, dtype: int64

In [ ]:
help(df.date_type.dt)   # to get all the function available with dt

In [ ]:
# another way

pd.to_datetime(df.second_col,format='%Y-%m-%d',errors= 'ignore')

0    2002-06-21
1    2008-10-16
2    2014-03-19
3    2018-01-18
4    2011-04-20
5    2014-04-21
6    2006-01-17
7    2015-09-24
8    2008-02-19
9    1999-05-16
10   1998-10-02
11   2005-10-03
12   2002-04-02
13   2014-08-06
14   2004-06-09
15   2008-04-14
16   2010-10-17
17   2018-02-22
18   2006-05-12
19   2012-09-12
20   2003-08-07
21   2017-04-01
22   2001-03-17
23   2013-01-24
24   2012-03-17
25   1999-10-01
26   2004-03-05
27   2004-01-12
28   2006-07-22
29   2001-09-10
30   2012-11-22
31   2006-02-09
32   2004-09-08
33   2001-07-03
34   2009-02-11
35   2006-01-19
36   2008-09-07
37   2005-04-15
38   2002-08-18
39   2006-02-09
40   2004-01-11
41   2002-11-13
42   2010-03-16
43   2004-02-10
44   2020-03-15
45   2016-01-17
46   2020-10-13
47   2003-11-01
48   1999-10-01
49   2017-10-07
Name: second_col, dtype: datetime64[ns]

In [ ]:
df.dtypes

first_col     datetime64[ns]
second_col            object
third_col             object
new_date              object
new_time              object
date_type     datetime64[ns]
day                    int64
dtype: object

And if your columns is in datetime formate then you can do formatting as you want

In [ ]:
df.first_col.dt.strftime('%d-%m-%Y').head()    # Indian date format

0    27-04-2001
1    11-11-2003
2    05-05-2004
3    04-03-2009
4    25-08-2004
Name: first_col, dtype: object

In [ ]:
df.first_col.dt.strftime('%A-%b-%Y').head()

0       Friday-Apr-2001
1      Tuesday-Nov-2003
2    Wednesday-May-2004
3    Wednesday-Mar-2009
4    Wednesday-Aug-2004
Name: first_col, dtype: object

In [ ]:
df.first_col.dt.strftime('%A-%b-%Y %H:%M:%S').head()

0       Friday-Apr-2001 05:29:42
1      Tuesday-Nov-2003 23:59:17
2    Wednesday-May-2004 23:48:49
3    Wednesday-Mar-2009 08:39:48
4    Wednesday-Aug-2004 13:58:48
Name: first_col, dtype: object

In [ ]:
df.first_col.dt.strftime('Date %D, and Time %T').head()

0    Date 04/27/01, and Time 05:29:42
1    Date 11/11/03, and Time 23:59:17
2    Date 05/05/04, and Time 23:48:49
3    Date 03/04/09, and Time 08:39:48
4    Date 08/25/04, and Time 13:58:48
Name: first_col, dtype: object

## Operations

In [ ]:
# Addition

df.first_col + timedelta(days=15, seconds=30, microseconds=0, milliseconds=0, minutes = 150, hours=12 , weeks=0)

0    2001-05-12 20:00:12
1    2003-11-27 14:29:47
2    2004-05-21 14:19:19
3    2009-03-19 23:10:18
4    2004-09-10 04:29:18
5    2001-07-08 08:23:24
6    2018-12-08 09:20:17
7    1999-11-08 16:24:07
8    2006-04-26 16:35:05
9    2018-09-28 03:20:05
10   2016-03-24 05:06:59
11   2010-10-10 05:29:36
12   2001-01-11 06:43:16
13   2014-01-15 13:21:32
14   2018-03-18 03:25:19
15   1999-02-04 22:34:43
16   2000-02-17 20:11:05
17   2006-11-08 18:30:15
18   1999-04-25 06:31:38
19   2003-05-18 09:32:05
20   1998-01-29 13:30:55
21   2009-12-15 13:43:07
22   2011-05-18 06:22:29
23   2001-06-21 11:12:32
24   2016-08-08 16:22:12
25   2019-09-13 12:01:40
26   2011-06-02 23:43:39
27   2002-10-20 23:51:39
28   2018-11-02 04:55:41
29   2006-10-04 02:24:20
30   2010-05-22 20:33:41
31   2003-01-11 09:27:23
32   2014-09-26 14:48:30
33   1999-01-04 21:06:04
34   2013-05-11 07:21:51
35   2002-04-16 12:22:24
36   2014-01-25 10:15:29
37   2006-07-19 10:02:44
38   2016-09-10 18:39:20
39   2016-05-08 05:34:54
40   2007-03-16 04:30:30
41   2015-12-16 07:08:05
42   2006-01-16 01:20:37
43   2008-02-11 08:26:48
44   2008-11-17 18:06:54
45   2012-07-29 23:58:15
46   2018-07-21 07:45:28
47   2011-08-23 03:34:48
48   2019-07-07 08:33:01
49   2009-11-17 20:08:49
Name: first_col, dtype: datetime64[ns]

In [ ]:
# Substraction

df.first_col - timedelta(days=15, seconds=30, microseconds=0, milliseconds=0, minutes = 150, hours=12 , weeks=0)

0    2001-04-11 14:59:12
1    2003-10-27 09:28:47
2    2004-04-20 09:18:19
3    2009-02-16 18:09:18
4    2004-08-09 23:28:18
5    2001-06-07 03:22:24
6    2018-11-07 04:19:17
7    1999-10-08 11:23:07
8    2006-03-26 11:34:05
9    2018-08-27 22:19:05
10   2016-02-22 00:05:59
11   2010-09-09 00:28:36
12   2000-12-11 01:42:16
13   2013-12-15 08:20:32
14   2018-02-14 22:24:19
15   1999-01-04 17:33:43
16   2000-01-17 15:10:05
17   2006-10-08 13:29:15
18   1999-03-25 01:30:38
19   2003-04-17 04:31:05
20   1997-12-29 08:29:55
21   2009-11-14 08:42:07
22   2011-04-17 01:21:29
23   2001-05-21 06:11:32
24   2016-07-08 11:21:12
25   2019-08-13 07:00:40
26   2011-05-02 18:42:39
27   2002-09-19 18:50:39
28   2018-10-01 23:54:41
29   2006-09-02 21:23:20
30   2010-04-21 15:32:41
31   2002-12-11 04:26:23
32   2014-08-26 09:47:30
33   1998-12-04 16:05:04
34   2013-04-10 02:20:51
35   2002-03-16 07:21:24
36   2013-12-25 05:14:29
37   2006-06-18 05:01:44
38   2016-08-10 13:38:20
39   2016-04-07 00:33:54
40   2007-02-12 23:29:30
41   2015-11-15 02:07:05
42   2005-12-15 20:19:37
43   2008-01-11 03:25:48
44   2008-10-17 13:05:54
45   2012-06-28 18:57:15
46   2018-06-20 02:44:28
47   2011-07-22 22:33:48
48   2019-06-06 03:32:01
49   2009-10-17 15:07:49
Name: first_col, dtype: datetime64[ns]

In [ ]:
df['year_gap_day'] = datetime.now() - df.first_col
df.head()

            first_col  second_col  ... day              year_gap_day
0 2001-04-27 05:29:42   2002-6-21  ...  21 7511 days 06:27:58.051857
1 2003-11-11 23:59:17  2008-10-16  ...  16 6582 days 11:58:23.051857
2 2004-05-05 23:48:49   2014-3-19  ...  19 6406 days 12:08:51.051857
3 2009-03-04 08:39:48   2018-1-18  ...  18 4643 days 03:17:52.051857
4 2004-08-25 13:58:48   2011-4-20  ...  20 6294 days 21:58:52.051857

[5 rows x 8 columns]

In [ ]:
datetime.now()

datetime.datetime(2021, 11, 19, 11, 58, 10, 472477)

In [ ]:
df.dtypes

first_col        datetime64[ns]
second_col               object
third_col                object
new_date                 object
new_time                 object
date_type        datetime64[ns]
day                       int64
year_gap_day    timedelta64[ns]
dtype: object

In [ ]:
df.year_gap_day.dt.to_pytimedelta()   # to get exact value

array([datetime.timedelta(days=7511, seconds=23278, microseconds=51857),
       datetime.timedelta(days=6582, seconds=43103, microseconds=51857),
       datetime.timedelta(days=6406, seconds=43731, microseconds=51857),
       datetime.timedelta(days=4643, seconds=11872, microseconds=51857),
       datetime.timedelta(days=6294, seconds=79132, microseconds=51857),
       datetime.timedelta(days=7454, seconds=65086, microseconds=51857),
       datetime.timedelta(days=1092, seconds=61673, microseconds=51857),
       datetime.timedelta(days=8062, seconds=36243, microseconds=51857),
       datetime.timedelta(days=5701, seconds=35585, microseconds=51857),
       datetime.timedelta(days=1163, seconds=83285, microseconds=51857),
       datetime.timedelta(days=2081, seconds=76871, microseconds=51857),
       datetime.timedelta(days=4073, seconds=75514, microseconds=51857),
       datetime.timedelta(days=7632, seconds=71094, microseconds=51857),
       datetime.timedelta(days=2880, seconds=47198, microseconds=51857),
       datetime.timedelta(days=1357, seconds=82971, microseconds=51857),
       datetime.timedelta(days=8339, seconds=14007, microseconds=51857),
       datetime.timedelta(days=7961, seconds=22625, microseconds=51857),
       datetime.timedelta(days=5505, seconds=28675, microseconds=51857),
       datetime.timedelta(days=8259, seconds=71792, microseconds=51857),
       datetime.timedelta(days=6775, seconds=60965, microseconds=51857),
       datetime.timedelta(days=8710, seconds=46635, microseconds=51857),
       datetime.timedelta(days=4372, seconds=45903, microseconds=51857),
       datetime.timedelta(days=3853, seconds=72341, microseconds=51857),
       datetime.timedelta(days=7471, seconds=54938, microseconds=51857),
       datetime.timedelta(days=1944, seconds=36358, microseconds=51857),
       datetime.timedelta(days=813, seconds=51990, microseconds=51857),
       datetime.timedelta(days=3838, seconds=9871, microseconds=51857),
       datetime.timedelta(days=6985, seconds=9391, microseconds=51857),
       datetime.timedelta(days=1128, seconds=77549, microseconds=51857),
       datetime.timedelta(days=5541, seconds=230, microseconds=51857),
       datetime.timedelta(days=4214, seconds=21269, microseconds=51857),
       datetime.timedelta(days=6902, seconds=61247, microseconds=51857),
       datetime.timedelta(days=2626, seconds=41980, microseconds=51857),
       datetime.timedelta(days=8370, seconds=19326, microseconds=51857),
       datetime.timedelta(days=3129, seconds=68779, microseconds=51857),
       datetime.timedelta(days=7172, seconds=50746, microseconds=51857),
       datetime.timedelta(days=2870, seconds=58361, microseconds=51857),
       datetime.timedelta(days=5617, seconds=59126, microseconds=51857),
       datetime.timedelta(days=1911, seconds=28130, microseconds=51857),
       datetime.timedelta(days=2036, seconds=75196, microseconds=51857),
       datetime.timedelta(days=5377, seconds=79060, microseconds=51857),
       datetime.timedelta(days=2180, seconds=69605, microseconds=51857),
       datetime.timedelta(days=5802, seconds=4053, microseconds=51857),
       datetime.timedelta(days=5045, seconds=64882, microseconds=51857),
       datetime.timedelta(days=4765, seconds=30076, microseconds=51857),
       datetime.timedelta(days=3415, seconds=8995, microseconds=51857),
       datetime.timedelta(days=1232, seconds=67362, microseconds=51857),
       datetime.timedelta(days=3756, seconds=82402, microseconds=51857),
       datetime.timedelta(days=881, seconds=64509, microseconds=51857),
       datetime.timedelta(days=4400, seconds=22761, microseconds=51857)],
      dtype=object)

In [ ]:
df['year_diff'] = df.first_col.dt.year - df.date_type.dt.year
df.head()

            first_col  second_col  ...              year_gap_day year_diff
0 2001-04-27 05:29:42   2002-6-21  ... 7511 days 06:27:58.051857        -1
1 2003-11-11 23:59:17  2008-10-16  ... 6582 days 11:58:23.051857        -5
2 2004-05-05 23:48:49   2014-3-19  ... 6406 days 12:08:51.051857       -10
3 2009-03-04 08:39:48   2018-1-18  ... 4643 days 03:17:52.051857        -9
4 2004-08-25 13:58:48   2011-4-20  ... 6294 days 21:58:52.051857        -7

[5 rows x 9 columns]

In [ ]:
df['month_diff'] = df.first_col.dt.month - df.date_type.dt.month
df.head()

            first_col  second_col  ... year_diff month_diff
0 2001-04-27 05:29:42   2002-6-21  ...        -1         -2
1 2003-11-11 23:59:17  2008-10-16  ...        -5          1
2 2004-05-05 23:48:49   2014-3-19  ...       -10          2
3 2009-03-04 08:39:48   2018-1-18  ...        -9          2
4 2004-08-25 13:58:48   2011-4-20  ...        -7          4

[5 rows x 10 columns]

In [ ]:
df['year_gap'] = datetime.strptime('11/18/2021 1:30 PM', '%m/%d/%Y %I:%M %p').year - df.first_col.dt.year
df.head()

            first_col  second_col  ... month_diff year_gap
0 2001-04-27 05:29:42   2002-6-21  ...         -2       20
1 2003-11-11 23:59:17  2008-10-16  ...          1       18
2 2004-05-05 23:48:49   2014-3-19  ...          2       17
3 2009-03-04 08:39:48   2018-1-18  ...          2       12
4 2004-08-25 13:58:48   2011-4-20  ...          4       17

[5 rows x 11 columns]

# Sorting

In [ ]:
df.head()

            first_col  second_col  ... month_diff year_gap
0 2001-04-27 05:29:42   2002-6-21  ...         -2       20
1 2003-11-11 23:59:17  2008-10-16  ...          1       18
2 2004-05-05 23:48:49   2014-3-19  ...          2       17
3 2009-03-04 08:39:48   2018-1-18  ...          2       12
4 2004-08-25 13:58:48   2011-4-20  ...          4       17

[5 rows x 11 columns]

In [ ]:
df.sort_values(by=["first_col"], inplace = False).head(10)

             first_col  second_col  ... month_diff year_gap
20 1998-01-13 23:00:25    2003-8-7  ...         -7       23
33 1998-12-20 06:35:34    2001-7-3  ...          5       23
15 1999-01-20 08:04:13   2008-4-14  ...         -3       22
18 1999-04-09 16:01:08   2006-5-12  ...         -1       22
7  1999-10-24 01:53:37   2015-9-24  ...          1       22
16 2000-02-02 05:40:35  2010-10-17  ...         -8       21
12 2000-12-26 16:12:46    2002-4-2  ...          8       21
0  2001-04-27 05:29:42   2002-6-21  ...         -2       20
23 2001-06-05 20:42:02   2013-1-24  ...          5       20
5  2001-06-22 17:52:54   2014-4-21  ...          2       20

[10 rows x 11 columns]

In [ ]:
df.sort_values(by=["first_col"], inplace = False, ascending=False, kind='quicksort').head(10)

             first_col  second_col  ... month_diff year_gap
25 2019-08-28 21:31:10   1999-10-1  ...         -2        2
48 2019-06-21 18:02:31   1999-10-1  ...         -4        2
6  2018-11-22 18:49:47   2006-1-17  ...         10        3
28 2018-10-17 14:25:11   2006-7-22  ...          3        3
9  2018-09-12 12:49:35   1999-5-16  ...          4        3
46 2018-07-05 17:14:58  2020-10-13  ...         -3        3
14 2018-03-02 12:54:49    2004-6-9  ...         -3        3
38 2016-08-26 04:08:50   2002-8-18  ...          0        5
24 2016-07-24 01:51:42   2012-3-17  ...          4        5
39 2016-04-22 15:04:24    2006-2-9  ...          2        5

[10 rows x 11 columns]

In [ ]:
# Multiple columns for sorting but priority will be more to the first then second and so on

df.sort_values(by=["first_col",'date_type'], inplace = False, ascending=True).head(10)

             first_col  second_col  ... month_diff year_gap
20 1998-01-13 23:00:25    2003-8-7  ...         -7       23
33 1998-12-20 06:35:34    2001-7-3  ...          5       23
15 1999-01-20 08:04:13   2008-4-14  ...         -3       22
18 1999-04-09 16:01:08   2006-5-12  ...         -1       22
7  1999-10-24 01:53:37   2015-9-24  ...          1       22
16 2000-02-02 05:40:35  2010-10-17  ...         -8       21
12 2000-12-26 16:12:46    2002-4-2  ...          8       21
0  2001-04-27 05:29:42   2002-6-21  ...         -2       20
23 2001-06-05 20:42:02   2013-1-24  ...          5       20
5  2001-06-22 17:52:54   2014-4-21  ...          2       20

[10 rows x 11 columns]

## Reading files with pandas

## Getting file in colab

1.


Click the left side file icon

At corner click on up arrow

choose required file that will be available till this session is on

It will be uploaded now you can right click on your required file to get path

2.


Put required file in your drive

Click the left side file icon

On corner side click on third icon you will get a code cell

Run the cell you will get a link and input box

Click on link do the sign-in

After sign-in you will get success code copy that

And paste it in input box and hit Enter

Click on second icon for refresh

Now you will get new file icon named as drive

Now you access all the files which is available in your drive

Right click on your required file to get path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# CSV file

dff = pd.read_csv('/content/Cars.csv')  # This file is available under sample_data
dff.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [ ]:
# json file

df_json= pd.read_json('/content/sample_data/anscombe.json') # This file is available under sample_data
df_json.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [ ]:
# Excel file

df_x= pd.read_excel(r'/content/sample.xlsx',sheet_name='PlayerData')
df_x.head()

   ID   Team Country     NameF      NameL  ...      Pos Age  HeightFt HtIn BMI
0   1  Women  Canada    Meghan     Agosta  ...  Forward  34  5.583333   67  23
1   2  Women  Canada   Rebecca   Johnston  ...  Forward  32  5.750000   69  22
2   3  Women  Canada     Laura     Stacey  ...  Forward  27  5.833333   70  22
3   4  Women  Canada  Jennifer  Wakefield  ...  Forward  32  5.833333   70  25
4   5  Women  Canada   Jillian   Saulnier  ...  Forward  29  5.416667   65  24

[5 rows x 15 columns]

In [ ]:
# Another way

df_x= pd.read_excel(r'/content/sample.xlsx',sheet_name = 1)  # Default sheet_name = 0
df_x.head()

   ID   Team Country     NameF      NameL  ...      Pos Age  HeightFt HtIn BMI
0   1  Women  Canada    Meghan     Agosta  ...  Forward  34  5.583333   67  23
1   2  Women  Canada   Rebecca   Johnston  ...  Forward  32  5.750000   69  22
2   3  Women  Canada     Laura     Stacey  ...  Forward  27  5.833333   70  22
3   4  Women  Canada  Jennifer  Wakefield  ...  Forward  32  5.833333   70  25
4   5  Women  Canada   Jillian   Saulnier  ...  Forward  29  5.416667   65  24

[5 rows x 15 columns]

In [ ]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        96 non-null     int64
 1   Team      96 non-null     object
 2   Country   96 non-null     object
 3   NameF     96 non-null     object
 4   NameL     96 non-null     object
 5   Weight    96 non-null     int64
 6   Height    96 non-null     object
 7   DOB       96 non-null     datetime64[ns]
 8   Hometown  96 non-null     object
 9   Prov      96 non-null     object
 10  Pos       96 non-null     object
 11  Age       96 non-null     int64
 12  HeightFt  96 non-null     float64
 13  HtIn      96 non-null     int64
 14  BMI       96 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [ ]:
df_x.describe()

              ID      Weight       Age   HeightFt       HtIn        BMI
count  96.000000   96.000000  96.00000  96.000000  96.000000  96.000000
mean   48.500000  172.333333  31.62500   5.790799  69.489583  24.947917
std    27.856777   25.228500   4.29504   0.288167   3.458003   1.915971
min     1.000000  123.000000  22.00000   5.083333  61.000000  20.000000
25%    24.750000  150.000000  29.00000   5.583333  67.000000  24.000000
50%    48.500000  174.000000  32.00000   5.750000  69.000000  25.000000
75%    72.250000  190.000000  35.00000   6.000000  72.000000  26.000000
max    96.000000  235.000000  42.00000   6.416667  77.000000  29.000000